<a href="https://colab.research.google.com/github/PeaceDS/atm-simulation-python/blob/main/Python_Basics%2CNumpy%2CPandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Welcome to Beginners Lesson for Data Science

In [ ]:
print("Hello World")

Hello World

**Python Statement**

A python statement is a line or lines of code that when executed, it runs successfully and returns a new value. A python statement could consist of operators, variables, and python keywords etc.

In [ ]:
#examples
result = 50+20+30
sentence= "I love python and data science is the best course ever!"
print(result)
print(sentence)

100
I love python and data science is the best course ever!

A python statement is a python code that is executed successfully.

**Python Variables**

Memory locations or containers where memory is stored or that stores values in our program. The value could be a number, text, decimal values, etc.

Python Variable Declaration:

the process of giving a memory location where values are to be stored in your program a meaningful name and assign a value to that location.

In [ ]:
#variable and value
name = "Chineche"

Assignment: Read

1)Rules in naming variables in python

2)Variable naming conventions

3)datatypes in python

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
#Variable declaration
a = 1
b = 2

In [ ]:
a+b

3

Variable rules:

1) no space between words.
*Variable naming comvention
snakecase: use of underscore,
camelcase: capitalizing the second word,
pascalcase: capitalize all words.

2) shouldn't be long that 32 characters

3) shouldn't begin with a number(only letters or underscore) the number can be inside the variable name though

4) don't use python specific keywords e.g print, if, else etc

5) variables are case sensitive.

note: when printing, variables don't need asterisks because they aren't strings.

In [ ]:
#python specific keywords
import keyword
print(keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [ ]:
10/2

5.0

In [ ]:
10//2 #10/2 is floor division, 10**3 is 10 raise to power three, 10%2 is modulus i.e remainder.

5

In [ ]:
#comments can be done in 3 ways. singleline, which is with # or multiline which is with """ewncewhedimjerfweudweduiwdbnd""" or control / in number 2
# erfrtgtg

**Data Types**

describes how a variable should be declared and also how a value should be assigned to a variable.

In [ ]:
num = 3
print(type(num))
#int is whole numbers and float is decimal numbers
#boolean is true or false e.g x=False print(s) it'll give you false
#string ie "Chineche"

<class 'int'>

In [ ]:
#strings
my_words = "john said, 'Hey There', to me"
#or
my_words = 'john said, \"Hey There\", to me'
#you can also put 2 slashes if you need to put one
my_words

'john said, "Hey There", to me'

In [ ]:
#you can convert between datatypes ie typecasting e.g
float(492838018)

492838018.0

In [ ]:
#also from integer to string
str(492838018)

'492838018'

In [ ]:
#from string to int
n="35"
m= int(n)
m

35

In [ ]:
#Truthiness implies that only zero can give you false
bool (-1000)
#only when there's nothing in the string will you get false
bool("")

False

New 2nd week

In [ ]:
#Meaningful names given to Variable, function and class is called identifier.
#Weak type of programming languages don't need you to tell the language the datatype but vice versa for strong datatype

In [ ]:
#An operator is a special symbol or keyword that determines the kind of operation that should be performed in a  variable or value.

Types of datatypes
string: characters wrapped with
numeric: int, float and complex numeric
Boolean

Python Operators: a special symbol or keyword that determines the kind of operation that should be performed on a variable or value

types:

Assignment operator: used for assigning a value to a variable. (=) e.g name = Micahel

Arithmetic operator: used in performing mathematical operations. (+,*,-,/,%) e.g
e.g Salary = 5000

Membership Operator: Used to check if a particular character or string belongs to a given variable. e.g in and not in

Relational Operator: for comparisons e.g <, >, <=, <=, !=, ==

Logical Operator: inculcates gates in its operation and sub divided into and, or and not.

Bitwise Operator: Includes and(&), !, ~

In [ ]:
#e.g of applying division operator
salary = 5000000
days = 31
dailyEarning = salary/days
daily_earning = round(dailyEarning, 0)
daily_earning

161290.0

In [ ]:
#e.g of membership operator
sentence = "I love python programming language"
"love" in sentence

True

In [ ]:
#contd
"love" not in sentence

False

Class Work

Declare three python variables and assign three different values to them and show their memory address

In [ ]:

#Python Variables
#name1
#name
#age2

#values
name1= "Glory"
name=" Uche"
age2= 16

#Memory Address
print(id(name1))
print(id(name))
print(id(age2))

136448421611776
136448421612160
11642568

In [ ]:
#ask 2 people their names, ages, and check if their ages are same.
"""
pseudocode
step 1: start
step 2:ask the user to enter their names
step 3:ask the user to enter their ages
step 4:check if their ages are the same
step 5:if they aren't the same age, print the older
step 6:stop
"""

SyntaxError: incomplete input (ipython-input-2768384761.py, line 2)

In [ ]:
firstUserName= input("Please enter your name: ")
firstUserAge= int(input("Please enter your age: "))
secondUserName= input("Please enter your name: ")
secondUserAge= int(input("Please enter your age: "))

if firstUserAge == secondUserAge:
  print("You are both of the same age")
else:
  if firstUserAge > secondUserAge:
    print(f'{firstUserName} is older than {secondUserName}')
  else:
   print(f'{secondUserName} is older than {firstUserName}')
   #you can use elif in place of else and if ie
   #after if function
   #elif firstUserAge > secondUserAge

**Logical Operator**

It inculcate gates in it's funtioning. It's divided into and, or and not.

They are used to combine or manipulate boolean values in programming allegedly.

In [ ]:
username = "Michael"
password = "12345"

if password == 12345 and username == "Michael":
  print(f"Your credentials are correct welcome {username}")
else:
  print("Invalid username or password")

Invalid username or password

In [ ]:
username= input("Please enter your username: ")
password= input("Please enter your password: ")

if password == "12345" and username == "Michael":
  print(f"Your credentials are correct welcome {username}")
else:
  print("Invalid username or password")

KeyboardInterrupt: Interrupted by user

In [ ]:
username= input("Please enter your username: ")
password= input("Please enter your password: ")

if password == "12345" or username == "Michael":
  print(f"Your credentials are correct welcome {username}")
else:
  print("Invalid username or password")

In [ ]:
isMale = False
print(not isMale)

**String Formatting**

F-strings: F-strings provide a concise and convenient way to embed python expressions inside string literals for formatting.

In [ ]:
name = "Michael"

sentence = f"My name is {name}"
sentence

In [ ]:
#application of string formatting
developer = "Neche"
sentence = f"Her name is {developer}, {developer} is a frontend developer and a datascientist, she is 19 and finally {developer} is a student. "
print(sentence)

In [ ]:
name = "Michael"

sentence = name
sentence

In [ ]:
firstName = "Peace"
lastName = "Agbaji"
middleName = "Chinecherem"

fullName = f"{firstName} {middleName} {lastName}"
print(fullName)

**String Concatenation**

In python it refers to the process of combining two or more strings end-to-end to create a single new string. This operation is fundamental for various programming tasks such as building dynamic messages, formatting output, or manipulating text data.

In [ ]:
firstName = "Peace"
lastName = "Agbaji"
middleName = "Chinecherem"

fullName = firstName + " " + middleName + " " + lastName
print(fullName)

In [ ]:
firstName= input("Please enter your firstName: ")
lastName= input("Please enter your lastName: ")
middleName= input("Please enter your middleName: ")
age = int(input("Please enter your age: "))
fullName = firstName + " " + middleName + " " + lastName
print(fullName)

#fullNameandAge = fullName + " " + str(age)
fullNameandAge = (f"Your fullname is {fullName} and you are {age} years old.")
print(fullNameandAge)

String Methods

In [ ]:
#String creation and indexing, beginning starts from 0
text = "python"

count = "2"
#Indexing

print(text[4]) #o
print(text[0]) #p
print(text[3]) #h

#slicing
print(text[-1:-4]) #we want noh
#didnt work because you cant print backwards unless using a function called reverse

#reverse
#print(text[1:4])
b= text[3:6] #hon
print(b[::-1]) #noh

In [ ]:
#useful string methods
message = " hello, world!"

print(message.lower())
print(message.upper())
print(message.capitalize())
print(message.title())
print(message.swapcase())

#remove whitespaces, in this case the space in the beginning
print(message.strip())

#replace part of a string ie what you want to replace with vs what you want to replace
print(message.replace("hello","come"))

#split into a list
print(message.split(","))

#find the position of a substring ie the number it starts from using begining as 1
print(message.find("world")) #it counted the space, you can remove it and it'll go to 7


#check if it atarts or ends with something
print(message.startswith("hello"))
print(message.endswith("!"))

In [ ]:
#String fromatting is divide into f-string method and .format() method
name= "ada"
age= 12
school= "neocloud"

#f-string method
print(f"my name is {name} and I am {age} years old")

#.format method
print("my name is {} and I am {} years old. {}".format(name, age , school))

In [ ]:
#String concatenation and repetition
#concatenation
first = "Azure"
second = "Learn"
third = "neo cloud"

print(first + " " + second + " " + school)
#repetition
print((first + " ") * 3)

In [ ]:
NameofBoy = input("Please enter your Name: ")
NameofGirl = input("Please enter your Name: ")
print(NameofBoy[2])
b= NameofBoy
print(b[::-1])
print(NameofBoy.upper())
print(f"my name is {NameofBoy}")
print(NameofBoy.replace(NameofBoy,NameofGirl))

In [ ]:
#collect 2 users name, print the third characrter, print the reversed version of user name, print the name in upper case, then print out using replace string method the second input replaced by the second input.

**New week**

Operator Precedence(follows the rule of bodmas)

Control Structures: If and Loop structures

Conditional Statements

1) If statements

In [ ]:
age = 18
if age >= 18:
  print("You're allowed to vote")

In [ ]:
Number = input("please enter a number: ")
if int(Number) > 0:
  print("Nice! thats a positive number.")

2) If-Else Statement

In [ ]:
Temp = 30
if Temp > 30:
  print("It's a hot day")
else:
  print("It's not a hot day")

3) Elif Statements

In [ ]:
sand = int(input("sand: "))
if sand == 12:
  print(sand)
elif sand == 23:
  print(sand)
elif sand == 2:
  print(sand)
else:
  int(sand) < 0
  print("I don't know")

Task: To check if a number is even or odd

Even numbers are perfectly divisible by 2, meaning they leave no remainder when divided by 2.

Odd numbers, on the other hand, leave a remainder of 1 when divided by 2. The modulo operator returns the remainder of a division.

In [ ]:
Number = int(input("Please enter a number: "))
if Number % 2 == 0:
  print(f"{Number} is an even number")
else:
  print(f"{Number} is an odd number")

4) Nested If Statement(an if inside another if)

In [ ]:
age = 20
if age >= 18:
    has_id = True
    if has_id:
        print("You can enter the club!")
    else:
        print("You need an ID.")
else:
    print("You're too young.")

In [ ]:
# Task check if the input is a positive number then check if it is even or odd
#check if the input is a negative number then check if it is even or odd

In [ ]:
#check if an input is a positive number, then whether it is even or odd
number = int(input("Please enter a number: "))
if number > 0:
  if number % 2 == 0:
    print(f"{number} is a positive even number")
  else:
    print(f"{number} is a positive odd number")

#check if an input is a negative number, then whether it is even or odd
else:
  if number < 0:
    if number % 2 == 0:
      print(f"{number} is a negative even number")
  else:
    print(f"{number} is a negative odd number")

5) **While loop Statement**

Ensures looping so far the condition is fulfilled

In [ ]:
count = 1
while count <= 10:
  print("Count is", count)
  count = count + 1
#applies incrementing is its operation(+=/+)

6) **For Loop Statement**

It is used when you know how many times you want to loop ie your range.

In [ ]:
# i represents current iterations or index or iterator
for i in range(1,6):
  print("student number", i)

FINAL PROJECT: STUDENT SCORE GRADER Combine everything!

🎓 Exercise: Student Grading System 💬 What You Should Do: You're going to write a Python program that:

Asks the user to enter their name.

Then asks them to enter their score (a number between 0 and 100).

Based on the score, the program should decide the grade:

If the score is 70 or above, the grade is A

If the score is 60 to 69, the grade is B

If the score is 50 to 59, the grade is C

If the score is below 50, the grade is F

After deciding the grade, the program should print the student's name and grade.

If the student gets a perfect score of 100, show a special message: 🎉 “Perfect score! Bonus awarded.”

If the score is not between 0 and 100, show an error message: ❌ “Invalid score entered.”

In [ ]:
# #solution
# name = input("Enter your name: ")
# score = int(input("Enter your score (0 - 100): "))

# if score >= 0 and score <= 100:
#     if score >= 70:
#         grade = "A"
#     elif score >= 60:
#         grade = "B"
#     elif score >= 50:
#         grade = "C"
#     else:
#         grade = "F"

#     print(f"{name}, you got grade: {grade}")

#     # Give bonus for perfect score
#     if score == 100:
#         print("🎉 Perfect score! Bonus awarded.")
# else:
#     print("Invalid score entered.")

7) Break and Continue

In [ ]:
# break
for i in range(1, 10):
    if i == 5:
        break
    print(i)

# continue
for i in range(1, 10):
    if i == 5:
        continue
    print(i)

Under For Loops

A Fibonacci sequence is a series of numbers where:

Each number is the sum of the two numbers before it.
The Tribonacci sequence is like the Fibonacci sequence, but instead of adding the last two numbers, you add the last three numbers.

In [ ]:
# Generate first 10 Fibonacci numbers
fib = [0, 1]  # starting values

for i in range(8):  # we already have 2 numbers, so do this 8 more times
    next_number = fib[-1] + fib[-2]  # sum of last two numbers
    fib.append(next_number)

print(fib)

Data structures are containers used to store, organize, and access data efficiently. Python has several built-in data structures that are both easy to learn and powerful.

Core Built-in Data Structures:

String ("text")

List [ordered, changeable]

Tuple (ordered, unchangeable/immutable)

Set (unordered, unique)

Dictionary (key-value pair)

1) A list is a flexible collection that can hold any type of object, and you can modify its contents at any time.

In [ ]:
#List Methods
fruits = ["apple", "banana", "orange"]
fruits.append("grape")          # Adds to end
fruits.insert(1, "mango")       # Inserts at index 1
fruits.remove("banana")         # Removes 'banana'
fruits.pop()                    # Removes last item
fruits.sort()                   # Sorts alphabetically i.e in alphabetical order
fruits.reverse()                # Reverses elements in the list

2) A tuple is like a list, but it cannot be changed (immutable).

In [ ]:
#Tuple Methods
coordinates = (10, 20)
print(coordinates)
coordinates.count(10)   # Counts how many times 10 appears
print(coordinates.index(20))   # Returns index of 20

In [ ]:
#also
numbers = (2,4,5,6,7)
print(numbers[1]) #returns the element itself instead of the index
print(numbers[-1])

3) Sets are unordered collections of unique values. Example
unique_numbers = {1, 2, 2, 3, 4}

Unfamiliar ones

a.symmetric_difference(b) Meaning: Items in either set, but not both.

a.issubset(b) Checks: Is every element in a also in b?

a.issuperset(b) Checks: Does a contain all of b?

a.isdisjoint(b) Checks: Do a and b have no elements in common?

In [ ]:
a = {1, 2, 3}
b = {3, 4, 5}
print(a.union(b))          # {1, 2, 3, 4, 5}
print(a.intersection(b))   # {3}
print(a.difference(b))     # {1, 2}

Build a registration system that Collect name, age, address.. and stores the information in its own list and its able to print out each of the user names with string formatting.

In [ ]:
#Registration System
name = input("Please enter your name: ")
age = int(input("Please enter your age: "))
address = input("Please enter your address: ")
Register = [name, age, address]
print(Register)
print(f"Your name is {name}, you are {age} years old and you live at {address}.")

In [ ]:
# pseudocode
# step 1: start
# step 2:ask the user to enter name
# step 3:ask the user to enter age
# step 4:ask the user to enter address
# step 4:create a list with the inputs gotten
# step 5:using f-string print out the user information
# step 6:stop

In [ ]:
#Ramsey's method
full_name_list = []
age_list = []
address_list = []

full_name = input("Please enter your full name: ")
full_name_list.append(full_name)
age = int(input("Please enter your age: "))
age_list.append(age)
address = input("Please enter your address: ")
address_list.append(address)

print(f"Your name is {full_name}, you are {age} years old and you live at {address}.")

**New Week**

Dictionaries as Data Structures

A dictionary stores data in key-value pairs.

In [ ]:
student = {
    "name": "Maryam",
    "age": 17,
    "school": "GAA"
}

#dictionary methods
print(student.get("name"))    # Maryam
print(student.keys())         # dict_keys(['name', 'age', 'school'])
print(student.values())       # dict_values(['Maryam', 17, 'GAA'])
print(student.items())        # dict_items([('name', 'Maryam'), ('age', 17), ('school', 'GAA')])

In [ ]:
#adding a new key to a dictionary
student["grade"] = "A"
print(student)

In [ ]:
#changing the value of a key value
student["age"] = 18
print(student)

Create a dictionary of 3 students with their scores. Print each student name with their score.

In [ ]:
students = {
    "Jack": 85,
    "Jill": 92,
    "Peace": 78
}

#dict_items([('Jack', '85'), ('Jill', 92), ('Peace', '78')]) ie what student.items will give you

for name, score in students.items():
    print(f"{name}: {score}")

In [ ]:
#examples using for loop
# for i in range(1,10):
#   print(i)

# dances = [1,2,4,5,6,7,8,9]
# for item in dances:
#   print(item)

# dances = [ 1,2,3,4,5,6,7,8,9]
# songs = [11,12,13,14,15,16,17,18,19]
# for item in dances:
#   for items in songs:
#     print(item + items)

dances = [ 1,2,3,4,5,6,7,8,9]
songs = [11,12,13,14,15,16,17,18,19]
for item1, item2 in zip(dances, songs):
  print(item1 + item2)

Function Basics

A function is a reusable block of code that performs a specific task.

In [ ]:
# def greet(name):
# def is for defining a function
# greet is the function name
# name is the parameter

name = input("name: ")
password = input("password: ")
print(f"welcome {name}")

def greet(name, password):
  print(f"welcome {name}")

greet(9, "test")

def number (num1, num2):
  print(num1 + num2)

def greet(name):
    return f"Hello, {name}!"

print(greet("Chineche"))

Final Mini Assignment/Class Exercise: Student Record System

Goal: Simulate a basic student record system where:

Students can be added with name and score

You can view all records

You can search for a student’s score

Start with the a pseudocode

In [ ]:
#Pseudocode
#start
#create a dictionary of students and their scores
#define a function for the adding student's names and score
#define a function for the viewing the names and scores
#define a function, integrating if else conditional statements to search for a student's score
#stop

students = {
    "Chineche": 90,
    "Queen" : 85,
    "Tesleem" : 12
          }

def add_student(name, score):
    students[name] = score
    print(f"Added {name} with a score of {score}")

def view_students():
     for name, score in students.items():
         print(f"{name}: {score}")

def search_student(name):
     if name in students:
         print(f"{name}: {students[name]}")
     else:
         print("Student not found.")

#integrating
add_student("Washington", 100)
add_student("Ramsey", 60)

view_students()

search_student("Obi")

search_student("Chineche")

In [ ]:
#Funtcion contd
#you can deocument a function(funtion documentation) using a docstring.
#using ''' this is a docstring'''
def entries(state):
  '''this is a docstring'''
  print(f"you are from {state}")
entries("Enugu")

In [ ]:
entries()

In [ ]:
# write a fxn that would tell a person happy birthday, say the person's name, age and state.

def entries(birthday, name, age, state):
  print(f"Happy birthday {name}")
  print(f"you are {age}")
  print(f"you are from {state}")



entries( "january", "ada", 12, "enugu")

In [ ]:
#using default value in function
def entries(state = "Enugu"):
  print(f"you are from {state}")
entries()

In [ ]:
entries("Imo") #arguments

In [ ]:
def numbers(*args):
  print(*args)

In [ ]:
numbers(1,2,3,4,5,6,7,8,9)

In [ ]:
todo_list = []

def add_task():
    task = input("Enter your task: ")
    todo_list.append(task)
    print("Task added.")

def view_tasks():
    if not todo_list:
        print("No tasks added.")
    else:
        print("\nYour To-Do List:")
        for i, task in enumerate(todo_list, 1):
            print(f"{i}. {task}")

def delete_task():
    view_tasks()
    if todo_list:
        task_num = int(input("Enter task number to delete: "))
        if 0 < task_num <= len(todo_list):
            removed = todo_list.pop(task_num - 1)
            print(f"Deleted task: {removed}")
        else:
            print("Invalid task number.")

def main():
    while True:
        print("\nTo-Do List Options:")
        print("1. Add Task")
        print("2. View Tasks")
        print("3. Delete Task")
        print("4. Exit")

        choice = input("Choose an option: ")

        if choice == '1':
            add_task()
        elif choice == '2':
            view_tasks()
        elif choice == '3':
            delete_task()
        elif choice == '4':
            print("Goodbye!")
            break
        else:
            print("Invalid choice.")

main()

In [ ]:
print("Welcome to neocloud Atm withdrawal")

# We created a varible here that stores all the data of the users
# The varible is what we call a nested dictionary in python

data = {"tony":{"password":1234 , "balance":1000}}


def logIn():
  '''
  This function authenticates and logins in user
  '''
  user_name = input("Input your name: ")
  if user_name in data:
    print("Account exist ")
    user_password = input("Enter your Password: ")

    if int(data[user_name]["password"]) == int(user_password):
      print("Verified")
      return user_name

    else:
      retryPassword(user_name)
      return user_name


  else:
    new_user_age = input("Enter a Password To Create Account: ")
    data[user_name] = {}
    data[user_name]["password"] = int(new_user_age)
    data[user_name]["balance"] = 0
    print("Account created")
    logIn()

    return user_name





def retryPassword(user_name):
  '''
  This function retries the password if incorrect

  '''
  attempts = 0
  while(attempts < 3):
    attempts += 1
    if attempts == 3:
      print("Too many attempts")
    else:
      print("Incorrect password, Try again")
      user_password = input("Enter your Password: ")
      if int(data[user_name]["password"]) == int(user_password):
        print("Verified")
        break





def deposit():
  '''
  This function deposits money into the account

  '''
  user_name = logIn()
  amount = input("Input amount to deposit: ")

  data[user_name]["balance"] =  int(data[user_name]["balance"]) +  int(amount)
  print(f'Deposit successful , your new balance is {data[user_name]["balance"]}')



def withdraw():
  '''
  This function withdraws money from the account

  '''
  user_name = logIn()
  amount = input("Input amount to withdraw: ")
  if int(data[user_name]["balance"]) < int(amount):
    print("Insufficient balance")
  else:
    data[user_name]["balance"] =  int(data[user_name]["balance"]) -  int(amount)
    print(f'Withdrawal successful , your new balance is {data[user_name]["balance"]}')


def viewBalance():
  '''
  This function views the balance of the account

  '''
  user_name = logIn()
  print(f'Your balance is {data[user_name]["balance"]}')

# This print just output what actions a user can perform in the atm

print(
    "  \n1: To create Account \n2: To deposit \n3: To Withdraw \n4: To view balance \n5: To end "
  )
endProcess = False
while(endProcess == False):
  # we request the user to select an action with this line of code
  action = input( "\nSelect an action with the action Number: " )

  # we use the conditonal statement to check if the action is valid and call the right function based on the action selected

  if (int(action) == 1):
    # we create a new account or log in if 1 is selected
    print("create Account or logIn")
    logIn()

  elif (int(action) == 2):
    # we deposit money into out account by calling the deposit function  if action  2  is selected
    deposit()

  elif (int(action) == 3):
    # we withdraw money from account here by calling the withdraw function if 3 is selected
    withdraw()

  elif (int(action) == 4):
    # This is just to view out current balance by selection 4 as action
    viewBalance()

  else:
    if (int(action) == 5):
      #This ends the process by selecting 5
      endProcess = True
      print("Thank you for using neocloud Atm")
    else:
      print("Invalid action")
      break

Project Title: Smart Profile Builder


Project Overview: You're building a “Smart Profile Builder” for a youth empowerment center that helps teenagers create digital profiles for internship applications.

========================

The system should:

Collect user information (name, age, email, interests).

Format and clean the data (trim spaces, capitalize names, etc.).

Store the data in appropriate Python structures.

Analyze the data (e.g., calculate age group, count interests).

Display a formatted summary to the user.

========================

What You Will Learn by Doing This: Data types (int, float, bool, str)

String operations (indexing, slicing, methods, formatting)

Conditional statements (if, else, elif)

Loops (for, while, break, continue)

Collections (list, tuple, set, dict)

Pseudocode writing and real-world thinking(Software Engineer Critical)

========================

Real-Life Analogy: Imagine working at a registration booth where teenagers walk in and want a digital profile printed out. But instead of writing everything down, you build a smart system that:

Asks questions.

Cleans and organizes the information.

Tells them what group they belong to (e.g., “Teen”, “Adult”).

Makes sure no info is repeated.

Shows their full summary in a neat format.

========================

Implementation Instructions: Ask the user for the following:

Full Name

Age

Email Address

List of 3 interests (as a comma-separated string, e.g., Coding, Football, Music)

Clean the data:

Strip all input fields of extra spaces.

Capitalize the first letter of each name.

Ensure the email is in lowercase.

Convert the interests into a list.

Remove duplicates using a set.

Analyze the data:

If age is 13–17 → Group: "Teen"

If age is 18–25 → Group: "Young Adult"

Else → Group: "Other"

Display the profile summary using both f-strings and .format():

Name (Reversed and Uppercase)

Age group

Number of interests

First and last interest

Interests in alphabetical order

Print a message: “You are eligible for internship” if age ≥ 18

Loop Feature (Optional):

Ask if they want to enter another profile (Yes/No)

Use a while loop to repeat

Pseudocode:

START

WHILE True Ask for user's full name, age, email, and interests Clean name: strip, title-case Clean email: strip, lowercase Convert age to integer Split interests into a list Convert list to set to remove duplicates Convert back to list Sort the list

If age between 13 and 17
    group = Teen
Else if age between 18 and 25
    group = Young Adult
Else
    group = Other

Print summary:
    - Name reversed
    - Name in uppercase
    - Age group
    - Number of interests
    - First and last interest
    - Interests in alphabetical order
    - Use f-string and .format()

If age ≥ 18
    print “Eligible for internship”

Ask: Do you want to enter another profile? (yes/no)
If no → break
ENDProject Overview

You're building a “Smart Profile Builder” for a youth empowerment center that helps teenagers create digital profiles for internship applications.

In [ ]:
# Smart Profile Builder for Internship Applications
#Pseudocode
#start
# ask user for input ie fullname, age, email and interest
# ensure the user enters numbers only
# remove white spaces from the input, make email lowercase, capitalize the first letter of each name, split the interests into a list and remove whitespaces
# remove duplicates and sort the list alphabetically
# determine age group using the parameters given
# Display name in reversed and uppercased using string methods
# display age groups
# show number of interests
# Show the first and last interests
# Sort the interests and display
# add eligibility for the internship
# ask if the user wants to add another input, if yes, repeat the process
# If not, acknowledge the user and end the program
# stop



while True:
    full_name = input("Enter your full name: ")
    age_input = input("Enter your age: ")
    email = input("Enter your email address: ")
    interests_input = input("Enter 3 interests (comma-separated): ")

    if not age_input.isdigit():
        print("Invalid age. Please enter numbers only.")
        continue
    age = int(age_input)

    full_name = full_name.strip().title()
    email = email.strip().lower()

    interests = interests_input.split(",")
    cleaned_interests = []

    for item in interests:
        item = item.strip().title()
        if item not in cleaned_interests:
            cleaned_interests.append(item)

    cleaned_interests.sort()

    if age >= 13 and age <= 17:
        age_group = "Teen"
    elif age >= 18 and age <= 25:
        age_group = "Young Adult"
    else:
        age_group = "Other"

    print("Profile Summary")
    reversed_name = full_name[::-1].upper()
    print(f"Name (reversed & uppercase): {reversed_name}")

    print(f"Age Group: {age_group}")
    print("Number of Interests: {}".format(len(cleaned_interests)))

    if len(cleaned_interests) > 0:
        print("First Interest: {}".format(cleaned_interests[0]))
        print("Last Interest: {}".format(cleaned_interests[-1]))

    print("Sorted Interests: {}".format(", ".join(cleaned_interests)))

    if age >= 18:
        print("You are eligible for internship.")
    else:
        print("You are not eligible for internship yet.")

    again = input("\nDo you want to enter another profile? (yes/no): ").strip().lower()
    if again != "yes":
        print("Thank you for using the Smart Profile Builder.")
        break

In [ ]:
# A student departure system
students = {}
DEAN_PASSWORD = "neocloud231"

def student_login():
  name = input("enter your full name: ").strip().title()
  student_id = input("enter your student id: ").strip()

  if student_id not in students:
    print("no account found creating new student record...")
    students[student_id] = {
      "name": name,
      "exeat_status" : "on campus",
      "history":[]
    }
  else:
    print(f"welcome back {students[student_id]['name']}")

  return student_id

def request_exeat(student_id):
  if student_id not in students:
    print("Please login first.")
    return

  if students[student_id]["exeat_status"] == "off campus":
    print("you already have an active exeat. Return first.")
    return

  reason = input("why are you requesting an exeat?").strip()
  students[student_id]["exeat_status"] = "pending approval"
  students[student_id]["history"].append({"request":reason,"status":"pending"})

  print("exeat request submitted.awaiting dean approval.")

def approve_exeat():
  password = input("enter dean password: ").strip()
  if password != DEAN_PASSWORD:
    print("incorrect password.")
    return

  approved_count = 0
  for student_id,info in students.items():
    if info["exeat_status"] == "pending approval":
      print(f"\n{info['name']} ({student_id}) requested: {info['history'][-1]['request']}")
      decision = input("Approve? (yes/no): ").strip().lower()
      if decision == "yes":
        info["exeat_status"] = "off campus"
        info["history"][-1]["status"] = "approved"
        print("approved")
        approved_count += 1
      else:
        info["exeat_status"] = "on campus"
        info["history"][-1]["status"] = "denied"
        print("denied")
  if approved_count == 0:
      print("No pending exeat requests.")

def return_to_campus(student_id):
  if student_id not in students:
    print("Please login first.")
    return

  if students[student_id]["exeat_status"] != "off campus":
    print("you are not currently out of campus")
    return

  students[student_id]["exeat_status"] = "on campus"
  print("welcome back.you have successfully returned")

def view_history(student_id):
  if student_id not in students:
    print("Please login first.")
    return

  print("\nyour exeat history:")
  if not students[student_id]["history"]:
    print("No exeat history found.")
  else:
    for record in students[student_id]["history"]:
      print(f"{record['request']}: {record['status']}")

def security_view():
  print("\nstudents currently off campus:")
  off_campus_students = 0
  for student_id,info in students.items():
    if info["exeat_status"] == "off campus":
      print(f"{info['name']} ({student_id})")
      off_campus_students += 1
  if off_campus_students == 0:
      print("No students are currently off campus.")

def search_student():
  student_id = input("enter your student id to search: ").strip()
  if student_id in students:
    name = students[student_id]["name"]
    status = students[student_id]["exeat_status"]
    print(f"{name} is currently: {status}")
  else:
    print("student not found")

def drive():
  current_user = None  # Initialize current_user to None
  while True:
    print("\n====student departure system(sds)====")
    print("1. student login")
    print("2. request exeat")
    print("3. return to campus")
    print("4. view exeat history")
    print("5. dean approval panel")
    print("6. security view")
    print("7. search student")
    print("8. exit")

    choice = input("select an option(1-8):").strip()

    if choice == "1":
      current_user = student_login()
    elif choice == "2":
      if current_user:
        request_exeat(current_user)
      else:
        print("Please login first.")
    elif choice == "3":
      if current_user:
        return_to_campus(current_user)
      else:
        print("Please login first.")
    elif choice == "4":
      if current_user:
        view_history(current_user)
      else:
        print("Please login first.")
    elif choice == "5":
      approve_exeat()
    elif choice == "6":
      security_view()
    elif choice == "7":
      search_student()
    elif choice == "8":
      print("thank you for using SDS.Goodbye.")
      break
    else:
      print("invalid choice.")

drive()

In [ ]:
#lambda functions, they are best used inside another function

x = lambda a, b, c: a + 10 + b + c
x(5,4,6)


print("Lambda")


lambda a, b, c: a + 10 + b + c

In [ ]:
def add (num1, num2):
  print(num1 + num2)

add(2,4)

In [ ]:
def myfunc(n, y, x):
  return lambda a : a * n * y * x

w = myfunc(2, 4, 6)

print(w(11))

In [ ]:
def myfunc(n1 ,n2):
  print(n1 + n2)

  return lambda a: a * (n1 + n2)



y = myfunc(2,7)

print(y(5,6))
#same as
y = lambda a : a * (n1 + n2)

In [ ]:
def myfunc(n, y, z):
  return lambda a : a * n * y * z

w = myfunc(2, 4, 6)
x = myfunc(7, 0, 2)

print(w(11))
print(x(11))

lets define main function that has lambda function, main funtion takes 3 paramters lambda would take 4 Arguments assign 2 names to the lambda function and print results

In [ ]:
def myfunc(y, x, z):
    return lambda a, b, c, d: a * b * c * d * y * x * z

# pass 3 expressions(right) to myfunc
p = myfunc(2, 4, 6)
q = myfunc(7, 0, 2)

# pass 4 arguments(left) to the lambda
print(p(11, 2, 3, 1))  # = 11 * 2 * 3 * 1 * 2 * 4 * 6 = 1584
print(q(11, 0, 1, 1))  # = 11 * 0 * 1 * 1 * 7 * 0 * 2 = 0

In [ ]:
#matrices are arrays but not all arrays are matrices
#assignment
# print out the first element ie first row first column

# import numpy as np
# list_data = [1, 2, 3, 4, 5]
# array_from_list = np.array(list_data) #([1, 2, 3, 4, 5])

# print("Array from list:", array_from_list)
# print("list: ", list_data)

# Array from list: [1 2 3 4 5]
# list:  [1, 2, 3, 4, 5]
# why are they different?

# So, they're not really different in data — only the way they are printed is different. NumPy displays arrays without commas to make the output more compact and consistent for larger multidimensional arrays.

mport numpy as np
matrix = np.array([[1, 2, 3], [4, 5, 6]]) #same as
matrix = np.array([[1, 2, 3],
                   [4, 5, 6]])

print(matrix[0, 0])  # Output: 1 (first row, first column)

In [ ]:
# What is numpy?

# NumPy (short for Numerical Python) is a powerful open-source Python library used for working with numbers and arrays, especially large, multi-dimensional arrays and matrices.

# What is NumPy? Why Was It Created?

# Before NumPy, scientists and engineers used Python lists for computations. But there was a problem:

# Lists are slow when doing math on large data.

# Lists can’t easily handle matrix operations.

# Data scientists had to use loops for everything.

# This slowed down things like:

# Image processing

# Scientific simulations

# Machine learning

# To fix this, Travis Oliphant and others created NumPy (Numerical Python)—a library that brings fast, flexible, and powerful arrays to Python.

# Real-World Analogy: Why Arrays Instead of Lists?

# Imagine this: You’re organizing a classroom of 100 students. With a normal list (like a notebook), you flip through every page to do a calculation for each student.

# But with NumPy arrays, you have an Excel sheet, where you apply a formula to all rows at once.

# Lists = Manual work Arrays = Efficient automation

# NumPy Array Creation Methods


[ ]
   1
   2
   3
   4
   5
   6
   7
([1,3,4,4], [1,3,4,4],[1,3,4,4],[1,3,4,4,5])


# 4 X

[1,3,4,4]

np.array(): Convert Python list or tuple to NumPy array

[ ]
   1
   2
   3
   4
   5
   6
   7
   8
   9
  10
  11
import numpy as np


# From list
list_data = [1, 2, 3, 4, 5]
array_from_list = np.array(list_data) #([1, 2, 3, 4, 5])

print("Array from list:", array_from_list)
print("list: ", list_data)
# print("Type:", type(array_from_list))

Array from list: [1 2 3 4 5]
list:  [1, 2, 3, 4, 5]
Find out why?

You use this when you already have data in a list or tuple.

np.zeros(): Create array of all zeros

[ ]
   1
   2
   3
   4
zeros_array = np.ones((4, 4))  # 3 rows, 4 columns

print("Zeros array:\n", zeros_array)

Zeros array:
 [[1. 1. 1. 1.]
 [1. 1. 1. 1.]
 [1. 1. 1. 1.]
 [1. 1. 1. 1.]]

[ ]
   1
   2
   3
   4
   5
   6

arr = np.ones((3,3))
print(arr)
print(arr.shape)

print(arr.ndim)
[[1. 1. 1.]
 [1. 1. 1.]
 [1. 1. 1.]]
(3, 3)
2
Use case: Initializing a blank matrix before filling it with values (e.g., grayscale image, grid for simulation).

What is np.ones()? np.ones() is a NumPy function that creates a new array filled entirely with the number 1.

Syntax: np.ones(shape, dtype=None) shape: A tuple that defines the number of rows and columns (e.g., (3, 4) means 3 rows, 4 columns)

dtype: (optional) Specifies the type of number you want (e.g., int, float, bool)


[ ]
   1
   2
   3
   4
ones_array = np.ones((2, 5))  # 2 rows, 5 columns

print("Ones array:\n", ones_array)

Use case: Baseline values in simulations or algorithms (e.g., initializing weights in machine learning).

np.arange(): Array with evenly spaced values within a range
np.arange() creates a NumPy array with numbers spaced evenly in a given range. You set where to start, where to stop (not included), and the step size. It's like Python's range() but returns an array.


[ ]
   1
   2
   3
   4
   5
sam = np.arange(1,15,2)
print(sam)

for i in range(1,15,2):
  print (i)
[ 1  3  5  7  9 11 13]
1
3
5
7
9
11
13
# Double-click (or enter) to edit

# List (in Python) A list is like a basket where you can put anything: numbers, words, even other baskets. It can be mixed. For example, a list can hold a name, a number, and a color — all in one place. It’s flexible but not made for heavy calculations.

# Array (in Python with NumPy) An array is like a box that holds only one kind of item, like a box of only apples. All the items must be the same type — all numbers, for example. Arrays are faster and better for math, especially when dealing with large data.

# Matrix (in Python) A matrix is a special kind of array. It has rows and columns, like a table. Think of a school timetable — it has days as rows and periods as columns. That’s a matrix.

# Matrix (in Maths) In maths, a matrix is a rectangular arrangement of numbers. For example, a 2x2 matrix has 2 rows and 2 columns. Matrices are used to solve equations, transform shapes, or represent data. They are powerful tools in algebra, physics, and AI.

# Differences A list can hold anything, even mixed things.

# An array holds only same-type items, mostly numbers, and is good for math.

# A matrix is a 2D array — rows and columns — like a spreadsheet.

# In math, a matrix helps with calculations like rotation, scaling, or solving systems of equations.

# Arrays come first Arrays are the foundation. Think of them as a way to store numbers neatly, either in a line (1D), table (2D), or cube (3D and beyond). You can do basic math with arrays — add, multiply, etc.

# Matrices are 2D arrays A matrix is a special case of an array — one that has 2 dimensions only (rows and columns). So, a matrix is built on top of arrays.

# In simple terms: An array is the base.

# A matrix is just one type of array (specifically 2D).

# All matrices are arrays, but not all arrays are matrices.

# np.linspace(): Array with evenly spaced values over interval
# np.linspace() creates an array with a specific number of values evenly spaced between two numbers.

# Unlike np.arange(), where you set the step, in linspace you say how many values you want.

# Real-life example (in words): You're designing a ruler from 0 to 10 cm and want 5 marks. linspace helps you place those marks evenly, no matter the distance. So you'll get 0, 2.5, 5, 7.5, and 10.

# So, np.linspace(start, stop, number_of_values) gives smooth, even spacing — great for graphs, simulations, or smooth transitions.


# [ ]
#    1
#    2
#    3
#    4
#    5
# linear_array = np.linspace(5, 15, 3)  # start=0, end=1, 5 values


# print("Linspace array:", linear_array)

# Linspace array: [ 5. 10. 15.]
# Use case: Graph plotting, probabilities, time-based data sampling.

# NumPy Array Attributes Use these to inspect and understand the array's structure.

# 🔹 Shape Shape means how many rows and columns (or layers) an array has. It tells you the size and structure.

# A single line of numbers has shape: (5,) → means 5 items in one row.

# A table with 3 rows and 2 columns has shape: (3, 2)

# It’s like asking: “How is this data arranged?”

# 🔹 Dimension (or ndim) Dimension means how deep or how many levels the data has.

# A flat list of numbers → 1D

# A table (rows and columns) → 2D

# A cube (like multiple tables stacked) → 3D

# More levels = higher dimensions

# Real-life example: A list of names → 1D

# A school timetable → 2D

# A stack of timetables for different classes → 3D

# So, 👉 Shape tells you size 👉 Dimension tells you depth


# [ ]
#    1
#    2
#    3
# ([1,2,3,4,])


# .shape: Tuple of dimensions

# [ ]
# 123456
# import numpy as np

# arr = np.array([[1, 2, 3], [4, 5, 6]])
# print("Shape:", arr.shape)  # Output: (2, 3)
# arr.ndim

# Shape: (2, 3)
# 2
# Means: 2 rows, 3 columns

# .ndim: Number of dimensions

# [ ]
# 12
# print("Dimensions:", arr.ndim)  # Output: 2

# .dtype: Data type of elements

# [ ]
# 12
# print("Data type:", arr.dtype)

# .size: Total number of elements

# [ ]
# 12

Operations using arrays

Methods involved.

In [ ]:
import numpy as np
a = np.array([[1, 2],
            [3, 4]])
b = np.array([[5, 6], [7, 8]])
print(a + b)  # Element-wise

# First row of a * First column of b:
# (1×5) + (2×7) = 5 + 14 = 19

# First row of a * Second column of b:
# (1×6) + (2×8) = 6 + 16 = 22

# Second row of a * First column of b:
# (3×5) + (4×7) = 15 + 28 = 43

# Second row of a * Second column of b:
# (3×6) + (4×8) = 18 + 32 = 50

Transpose: Used when switching rows to columns. For example, if you have time as rows and features as columns but want to reverse that.

In [ ]:
a.T

Reshape helps adapt data into formats suitable for machine learning models or visualizations.

In [ ]:
a.reshape(1, 4) #changes the data to 1 row 4 columns

In [ ]:
a = np.array(
    [
       [[1, 2],
        [3, 4]],

        [[5, 6],
        [7, 8]]

       ])

# (2, 2, 2)


# a = np.array([[1, 2],
#               [3, 4]])




# np.shape(a)

a.reshape(8,1,1,1) #column, row and dimension required(at the dimension entries, extra one 1 will give you 3d, 2 extra ones will give you 4d, etc). what are the numbers you can multiply to give you the total number of elements you have in your array.
#position determines shape and number of entries determines the dimension

In [ ]:
a = np.array(
    [[[1]],

       [[2]],

       [[3]],

       [[4]],

       [[5]],

       [[6]],

       [[7]],

       [[8]]]
)


a.reshape(2,2,2)

Pandas is the Excel of Python — a data manioulation library that makes it easier to manage tabular data (rows and columns) just like you'd do in Google Sheets.

Pandas mean panel data ie structured data. Columns in pandas are series and rows are instances.

Dataframe is a pandas method used for tabulating data in series and instances.

In [ ]:
# using vibecoding, you can create a library
# polar vs pandas
# PyPI.org stands for the Python Package Index — it’s basically the official app store for Python packages, you can also publish yours

 A DataFrame is a full table, like a database table or Excel sheet.

In [ ]:
import pandas as pd
s = pd.Series([100, 200, 300], index=['Alice', 'Bob', 'Charlie'])

data = {
    "Name": ["Alice", "Bob", "Charlie"],
    "Age": [25, 30, 35],
    "Salary": [50000, 60000, 55000]
}
df = pd.DataFrame(data)
print (df)

Useful DataFrame Operations Viewing Data

In [ ]:
import pandas as pd
s = pd.Series([100, 200, 300], index=['Alice', 'Bob', 'Charlie'])

data = {
    "Name": ["Alice", "Bob", "Charlie"],
    "Age": [25, 30, 35],
    "Salary": [50000, 60000, 55000]
}
df = pd.DataFrame(data)
print(df.head())       # First 5 rows
print((df.tail(3)))    # Last 3 rows
print(df.shape)       # Rows, columns
print(df.columns)      # Column names

In [ ]:
# #learn datascience terms
# Assignment learn what each of these algorithms are used for:

# Basic Algorithms (Foundations) Linear Regression Predicts continuous values (e.g., price of a house).

# Logistic Regression For classification (e.g., spam or not spam).

# K-Nearest Neighbors (KNN) Classifies based on similarity to neighbors.

# K-Means Clustering Groups data into k clusters (unsupervised learning).

# Naive Bayes Uses probability (Bayes’ theorem) for classification.

# Decision Trees Tree-like model for decisions (e.g., “yes/no” questions).

In [ ]:
df = pd.read_csv('Peace.csv')
df.head()  # shows the first 5 rows

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

In [ ]:
import pandas as pd
df = pd.read_csv('/content/drive/MyDrive/NeoCloudDatasets/Peace.csv')

In [ ]:
import pandas as pd
df = pd.read_csv('/content/drive/MyDrive/NeoCloudDatasets/Peace.csv')

df.head()

In [ ]:
df.isnull()
df.isnull().sum()

In [ ]:
df.dropna()

In [ ]:
import pandas as pd
df = pd.read_csv('/content/drive/MyDrive/NeoCloudDatasets/messyhealthdataset.csv')

df.head()

In [ ]:
# df.isnull().sum() #this adds the columns with null values
df.head(10)
df.tail(5)

In [ ]:
df.info()

In [ ]:
df.describe()

In [ ]:
df.isnull().sum()

In [ ]:
# df.dropna(subset=["Gender"], inplace=True)  # Drop rows with missing Gender
# # df.dropna(subset=["Age"], inplace=True)
# # df.dropna(subset=["Blood_Pressure"], inplace=True)
# # df.dropna(subset=["Cholesterol"], inplace=True)
# # df.dropna(subset=["BMI"], inplace=True)
# # df.dropna(subset=["Smoking_Status"], inplace=True)
# # df.dropna(subset=["Exercise_Level"], inplace=True)
# # df.dropna(subset=["Glucose_Level"], inplace=True)
# # df.dropna(subset=["Family_History"], inplace=True)
# # df.dropna(subset=["Disease"], inplace=True)

# df["Cholesterol"].fillna(df["Cholesterol"].mean(), inplace=True)  # Fill with mean

In [ ]:
df[df.duplicated()]

In [ ]:
# df["Gender"] = df["Gender"].replace({"M": "Male", "F": "Female", "male": "Male", "female": "Female", "Fem": "Female"})
# df.head()

In [ ]:
# df["Gender"] = df["Gender"].replace({"M": "Male", "F": "Female", "male": "Male", "female": "Female", "Fem": "Female"})
# df.head()

In [ ]:
# df.rename(columns={"Blood_Pressure": "BP", "Glucose_Level": "Glucose"}, inplace=True)
# df.head()

In [ ]:
# import numpy as np
# def correct_age(age):
#     return np.nan if age < 0 or age > 120 else age

# df["Age"] = df["Age"].apply(correct_age)

# df.head()

In [ ]:
# df["Age"] = df["Age"].astype("float")
# df.head()

In [ ]:
# df.query("BMI > 50 or BP > 250")

In [ ]:
# df.drop(columns=["Family_History"], inplace=True)
# df.head()

In [ ]:
# df.sort_values(by="Age", ascending=False, inplace=True)
# df.head()

In [ ]:
# df.to_csv("cleaned_health_dataset.csv", index=False)

Data Science terms:

1. Data Science – The field that uses statistics, programming, and domain knowledge to extract insights from data.

2. Dataset – A structured collection of data, often in rows (records) and columns (features).

3. Feature – A variable or column in a dataset that represents an attribute of the data.

4. Target Variable – The outcome or label you want to predict in supervised learning.

5. Supervised Learning – Machine learning where models are trained with labeled data.

6. Unsupervised Learning – Machine learning without labels; the model finds patterns or groups in the data.

7. Model – A mathematical representation of patterns in data used for prediction or classification.

8. Training Data – Data used to teach a machine learning model.

9. Test Data – Data used to evaluate how well a model performs on unseen examples.

10. Overfitting – When a model learns training data too well, including noise, and performs poorly on new data.

11. Underfitting – When a model is too simple to capture the patterns in the data.

12. Accuracy – The percentage of correct predictions made by a model.

13. Precision – The proportion of true positive predictions among all positive predictions.

14. Recall – The proportion of actual positives correctly identified by the model.

15. F1 Score – A single metric that combines precision and recall.

16. Cross-Validation – A method to assess model performance by splitting data into multiple train-test sets.

17. Feature Engineering – Creating or modifying features to improve model performance.

18. Data Cleaning – The process of fixing or removing incorrect, corrupted, or missing data.

19. Outlier – A data point that is very different from others and may distort analysis.

20. Normalization – Scaling numeric features to a specific range, usually 0–1.

21. Standardization – Scaling data so it has a mean of 0 and a standard deviation of 1.

22. Correlation – A statistical measure showing how two variables are related.

23. Bias – Systematic error in data or models that skews results.

24. Variance – How much model predictions change if trained on different subsets of the data.

25. Pipeline – A sequence of data processing and modeling steps applied automatically.

In [ ]:
# import pandas as pd
# import numpy as np
# df = pd.read_csv('/content/drive/MyDrive/NeoCloudDatasets/messyhealthdataset.csv')

# df.head()


# # Trim strings
# for c in df.select_dtypes(include="object").columns:
#     df[c] = df[c].astype(str).str.strip()

# # Standardize categories
# if "Gender" in df.columns:
#     g = df["Gender"].str.lower()
#     df["Gender"] = g.replace({
#         "m":"Male","male":"Male","man":"Male",
#         "f":"Female","female":"Female","fem":"Female","woman":"Female"
#     })

# def norm_yes_no(s):
#     s2 = s.astype(str).str.lower().str.replace(r"[^a-z0-9]","", regex=True)
#     return s2.replace({"yes":"Yes","y":"Yes","true":"Yes","1":"Yes",
#                        "no":"No","n":"No","false":"No","0":"No"})

# for c in ["Smoking_Status","Exercise_Level","Family_History","Disease"]:
#     if c in df.columns:
#         df[c] = norm_yes_no(df[c]).where(df[c].notna(), np.nan)

# # To numeric
# for c in ["Age","Blood_Pressure","BP","Cholesterol","BMI","Glucose_Level","Glucose"]:
#     if c in df.columns:
#         df[c] = pd.to_numeric(df[c], errors="coerce")

# # Rename if needed
# df = df.rename(columns={"Blood_Pressure":"BP","Glucose_Level":"Glucose"})

# # Range checks
# if "Age" in df: df["Age"] = df["Age"].mask((df["Age"]<0)|(df["Age"]>120))
# if "BP" in df: df["BP"] = df["BP"].mask((df["BP"]<60)|(df["BP"]>260))
# if "BMI" in df: df["BMI"] = df["BMI"].mask((df["BMI"]<10)|(df["BMI"]>80))
# if "Glucose" in df: df["Glucose"] = df["Glucose"].mask((df["Glucose"]<40)|(df["Glucose"]>450))
# if "Cholesterol" in df: df["Cholesterol"] = df["Cholesterol"].mask((df["Cholesterol"]<50)|(df["Cholesterol"]>600))

# # Impute: numeric->median, categorical->mode
# for c in df.select_dtypes(include=np.number):
#     df[c] = df[c].fillna(df[c].median())
# for c in df.select_dtypes(exclude=np.number):
#     if df[c].isna().any():
#         mode = df[c].mode(dropna=True)
#         df[c] = df[c].fillna(mode.iloc[0] if len(mode) else "Unknown")

# # Deduplicate & save
# df = df.drop_duplicates()
# df.to_csv("cleaned_health_dataset.csv", index=False)

In [ ]:

#df.dropna(subset=["Gender"], inplace=True)  # Drop rows with missing Gender
df.rename(columns={"Blood_Pressure": "BP", "Glucose_Level": "Glucose"}, inplace=True)

# Fill numeric columns with mean
df["Cholesterol"].fillna(df["Cholesterol"].mean(), inplace=True)
df["BP"].fillna(df["BP"].mean(), inplace=True)
df["Age"].fillna(df["Age"].mean(), inplace=True)
df["BMI"].fillna(df["BMI"].mean(), inplace=True)
df["Glucose"].fillna(df["Glucose"].mean(), inplace=True)

# Fill categorical columns with mode
df["Gender"].fillna(df["Gender"].mode()[0], inplace=True)
df["Smoking_Status"].fillna(df["Smoking_Status"].mode()[0], inplace=True)
df["Exercise_Level"].fillna(df["Exercise_Level"].mode()[0], inplace=True)
df["Family_History"].fillna(df["Family_History"].mode()[0], inplace=True)
df["Disease"].fillna(df["Disease"].mode()[0], inplace=True)

# Remove duplicates
df.drop_duplicates(inplace=True)

# Standardize categories
df["Gender"] = df["Gender"].replace({"M": "Male", "F": "Female", "male": "Male", "female": "Female", "Fem": "Female"})
df["Smoking_Status"] = df["Smoking_Status"].replace({"N": "No", "no": "No", "ye": "Yes", "Y": "Yes"})
df["Exercise_Level"] = df["Exercise_Level"].replace({"medium": "Medium", "low": "Low", "high": "High"})
df["Family_History"] = df["Family_History"].replace({"no": "No", "N": "No", "n": "No", "yes": "Yes", "Y": "Yes"})
df["Disease"] = df["Disease"].replace({"Pos": "Positive", "Neg": "Negative"})


import numpy as np
def correct_age(age):
    return np.nan if age < 0 or age > 120 else age

df["Age"] = df["Age"].apply(correct_age)

df.head()
df["Age"] = df["Age"].astype("float")
df.head()
df.query("BMI > 50 or BP > 250")

# df.drop(columns=["Family_History"], inplace=True)
# df.head()
# df.sort_values(by="Age", ascending=False, inplace=True)
# df.head()

df = df.drop_duplicates()
df.to_csv("cleaned_health_dataset.csv", index=False)

In [ ]:
import pandas as pd
df = pd.read_csv("/content/HoC-GE2024-results-by-candidate.csv")
df.head()

,ONS ID,ONS region ID,Constituency name,County name,Region name,Country name,Constituency type,Party name,Party abbreviation,Electoral Commission party ID,...,Candidate first name,Candidate surname,Candidate gender,Sitting MP,Former MP,Member MNIS ID,Votes,Share,Change,DC Person ID
0,W07000081,W92000004,Aberafan Maesteg,NaN,Wales,Wales,County,Heritage Party,HPUK,PP12550,...,Rhiannon,Morrissey,Female,No,No,NaN,183,0.005118,NaN,117009
1,W07000081,W92000004,Aberafan Maesteg,NaN,Wales,Wales,County,Independent,Ind,NaN,...,Captain,Beany,Male,No,No,NaN,618,0.017284,NaN,20
2,W07000081,W92000004,Aberafan Maesteg,NaN,Wales,Wales,County,Liberal Democrat,LD,PP90,...,Justin,Griffiths,Male,No,No,NaN,916,0.025619,-0.011412,89373
3,W07000081,W92000004,Aberafan Maesteg,NaN,Wales,Wales,County,Green,Green,PP63,...,Nigel,Hill,Male,No,No,NaN,1094,0.030597,0.014817,92890
4,W07000081,W92000004,Aberafan Maesteg,NaN,Wales,Wales,County,Conservative,Con,PP52,...,Abigail,Mainon,Female,No,No,NaN,2903,0.081191,-0.145088,72976

In [ ]:
#to get rows 50 to 70 using iloc
df.iloc[49:69]

In [ ]:
election_df = pd.read_csv('/content/HoC-GE2024-results-by-candidate.csv')
df_sample = election_df.head(100)
df_sample

In [ ]:
#getting the rows 50 to 70
df_sample.head(71).tail(21)

**MODULE 2: TASKS TO BE DONE**

**A. Handling Missing Data**

1. df.isnull() – Detect missing values.

2. df.notnull() – Detect non-missing values.

3. df.dropna() – Remove missing values.

4. df.fillna(value) – Replace missing values with a given value.


**B. Data Selection & Filtering**


1. df.loc[] – Select rows/columns by labels.

2. df.iloc[] – Select rows/columns by integer positions.

3. df.query() – Filter rows using query strings.


**C. Data Transformation**

df.rename(columns={}) – Rename columns.

df.astype() – Change column data types.

df.map() – Apply function to Series elements.

df.replace() – Replace values with others.


**D. Aggregation & Grouping**

1. df.groupby() – Group data and apply aggregation.

2. df.value_counts()

3. df.unique (): This returns the number of uni

4. df,nunique ()


F. Core Conditional Filtering

1. Boolean Indexing – df[df['col'] > 10] → Select rows where column > 10.

2. Multiple Conditions – df[(df['col1'] > 10) & (df['col2'] < 50)] → Combine with &, |, ~.

3. df.query() – df.query("col1 > 10 and col2 < 50")
  
  
  
  Value-based Filtering


4. df['col'].isin([x,y,z]) – Select rows where values are in a list.

5. df['col'].between(a, b) – Select rows where values fall between a and b.

6. df['col'].duplicated() – Filter duplicated rows.

7. df.nunique() with conditions – Identify unique counts for filtering.

      Null & Missing Data Filters

8. df[df['col'].isnull()] – Rows with missing values.

9. df[df['col'].notnull()] – Rows without missing values.

In [ ]:
#1. rename() method. Used to rename columns or index labels.

import pandas as pd

data = {
    "Blood_Pressure": [120, 140, 110],
    "Glucose_Level": [90, 110, 95]
}
df = pd.DataFrame(data)

# Rename columns
df.rename(columns={"Blood_Pressure": "BP", "Glucose_Level": "Glucose"}, inplace=True)

# Rename index
df.rename(index={0: "Patient1", 1: "Patient2"}, inplace=True)

print(df)

In [ ]:
# 2. loc[] vs iloc[]

# loc[] → label-based indexing (row/column names).

# iloc[] → integer-based indexing (row/column positions).

df = pd.DataFrame({"A": [10,20,30], "B": [40,50,60]}, index=["x","y","z"])

# loc by label
print(df.loc["x", "A"])   # 10

# iloc by position
print(df.iloc[0, 0])      # 10

# loc for multiple rows
print(df.loc[["x","z"], "B"])

# iloc for multiple rows
print(df.iloc[[0,2], 1])

In [ ]:
# 3. replace() method

# Used to replace values.

df = pd.DataFrame({"Status": ["fail", "pass", "fail", "pass"]})

# Replace single value
df["Status"] = df["Status"].replace("fail", "retry")

# Replace multiple values
df["Status"] = df["Status"].replace({"retry": "pending", "pass": "approved"})

In [ ]:
# 4. fillna() method

# Used to fill missing values (NaN).

df = pd.DataFrame({"A":[1, None, 3], "B":[4, None, 6]})

# Fill with constant
df.fillna(0, inplace=True)

# Fill column-wise
df["A"].fillna(df["A"].mean(), inplace=True)  # replace NaN with mean

In [ ]:
# 5. Conditional filtering

# Filter rows based on conditions.

df = pd.DataFrame({"Name": ["Anna","Ben","Chris"],
                   "Age": [22, 35, 19],
                   "Score": [85, 40, 90]})

# Single condition
print(df[df["Age"] > 20])

# Multiple conditions (AND)
print(df[(df["Age"] > 20) & (df["Score"] > 50)])

# OR condition
print(df[(df["Age"] < 20) | (df["Score"] < 50)])

In [ ]:
import pandas as pd
election_df = pd.read_csv('/content/HoC-GE2024-results-by-candidate.csv')

In [ ]:
# axis of column is 1(variable)
# row is 0
# runtime, restart sesson and run all
# nan means not a number
# import warnings
# shift alt down arrow duplicates cells

In [ ]:
# checking for missing values (entries) in the dataset

import warnings
warnings.filterwarnings('ignore')
election_df.isnull()

In [ ]:
# an alternative way of checking for missing entries in a dataset
election_df.isna()

In [ ]:
#  checking the sum of missin entries by variables or columns
election_df.isna().sum()

In [ ]:
# checking the sum of missin values in the entire dataset
election_df.isna().sum().sum()

In [ ]:
# filter all the instances (rows) in the dataset with any missin value

election_df.notnull().sum().sum()

In [ ]:
#without_missing_valuse= election_df.dropna()

election_df.drop('County name', axis=1, inplace=True)

In [ ]:
election_df.isnull().sum().sum()

In [ ]:
election_df.isnull().sum()

In [ ]:
# inspecting the  Electoral Commission adjunct party ID to know the distinct values in the variable
election_df['Electoral Commission adjunct party ID'].value_counts()

In [ ]:
election_df['Electoral Commission adjunct party ID'].fillna(value=0, inplace=True)

In [ ]:
election_df['Electoral Commission adjunct party ID'].value_counts()

In [ ]:
election_df[['ONS ID', 'Electoral Commission adjunct party ID']]

In [ ]:
election_df.isnull().sum()

In [ ]:
election_df[['Electoral Commission party ID', 'Member MNIS ID', 'Change']].fillna(value=0, inplace=True)

In [ ]:
election_df.isnull().sum()

In [ ]:
# filling up three variables where there were missing values using a fix value (0)
election_df['Electoral Commission party ID'].fillna(value=0, inplace=True)
election_df['Member MNIS ID'].fillna(value=0, inplace=True)
election_df['Change'].fillna(value=0, inplace=True)

In [ ]:
election_df.isnull().sum()

In [ ]:
# viewing the dataset
election_df

In [ ]:
#to select more than one variable use list [[]]
# loc selects strings
# iloc selects integers,the i in iloc stands for integer. integer location
#[rows , colums] : means all, in our own case all rows

In [ ]:
# selecting a single variable using pandas

# Univariate: A univariate is a kind of findings that is carried out on a single varraible
election_df['Party name']

In [ ]:
election_df['Party name'].unique() #gives a list of all unique entries, no duplicates.

In [ ]:
election_df['Party name'].nunique() #number of unique entries

In [ ]:
election_df["Party name"].value_counts()

In [ ]:
# bivariate analysis: This is a process of selecting two variables for analysis

election_df[['Party name', 'Country name']]

In [ ]:
# selecting more than two features from the dataset to perform mutli-variate analysis
election_df[['Party name', 'Country name', 'Constituency type']]

In [ ]:
election_df.loc[:, ['Party name', 'Country name'] ]

In [ ]:
election_df.iloc[:, [6, 4]]

In [ ]:
election_df.iloc[0, [6, 4]]

In [ ]:
# using query method to slect features from our dataset
election_df.query('`Party name` == "Green"')

,ONS ID,ONS region ID,Constituency name,County name,Region name,Country name,Constituency type,Party name,Party abbreviation,Electoral Commission party ID,...,Candidate first name,Candidate surname,Candidate gender,Sitting MP,Former MP,Member MNIS ID,Votes,Share,Change,DC Person ID
3,W07000081,W92000004,Aberafan Maesteg,NaN,Wales,Wales,County,Green,Green,PP63,...,Nigel,Hill,Male,No,No,NaN,1094,0.030597,0.014817,92890
38,E14001063,E12000008,Aldershot,NaN,South East,England,Borough,Green,Green,PP63,...,Ed,Neville,Male,No,No,NaN,2155,0.044393,0.008910,104012
43,E14001064,E12000005,Aldridge-Brownhills,NaN,West Midlands,England,Borough,Green,Green,PP63,...,Clare,Nash,Female,No,No,NaN,1746,0.042677,0.024228,82753
58,E14001065,E12000002,Altrincham and Sale West,NaN,North West,England,Borough,Green,Green,PP63,...,Geraldine,Coggins,Female,No,No,NaN,3699,0.071892,0.043296,4639
64,W07000082,W92000004,Alyn and Deeside,NaN,Wales,Wales,County,Green,Green,PP63,...,Karl,Macnaughton,Male,No,No,NaN,1926,0.044386,NaN,1431
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4479,E14001602,E12000002,Wythenshawe and Sale East,NaN,North West,England,Borough,Green,Green,PP63,...,Melanie,Earp,Female,No,No,NaN,4133,0.105617,0.070786,43728
4484,E14001603,E12000009,Yeovil,NaN,South West,England,County,Green,Green,PP63,...,Serena,Wootton,Female,No,No,NaN,2403,0.049089,0.021044,92410
4492,W07000112,W92000004,Ynys Môn,NaN,Wales,Wales,County,Green,Green,PP63,...,Martin,Schwaller,Male,No,No,NaN,604,0.018512,NaN,116504
4503,E14001604,E12000003,York Central,NaN,Yorkshire and The Humber,England,Borough,Green,Green,PP63,...,Lars,Kramm,Male,No,No,NaN,5185,0.119682,0.077808,50749
4510,E14001605,E12000003,York Outer,NaN,Yorkshire and The Humber,England,County,Green,Green,PP63,...,Michael,Kearney,Male,No,No,NaN,2212,0.043283,0.043118,101413

ASSIGNMENT 2:

Using the election dataset, do the following tasks:

1. df['col'].isin([x,y,z]) – Select rows where values are in a list.

2. df['col'].between(a, b) – Select rows where values fall between a and b.

3. df['col'].duplicated() – Filter duplicated rows.

4. df.nunique() with conditions – Identify unique counts for filtering.


submit the assignment to: michaelanietiejack@gmail.com

In [ ]:
election_df[election_df['Party name'].isin(['Heritage Party', 'Independent'])]

In [ ]:
election_df[election_df['Party name'].between('Heritage Party', 'Liberal Democrat')]

In [ ]:
election_df[['Party name', 'Votes']].duplicated()

In [ ]:
election_df.nunique()
#election_df[election_df['Votes'] > 50000].nunique()

In [ ]:
# .sum() → column totals (Series).

# .sum().sum() → grand total of all values in the DataFrame (scalar)

Still Handling missing values using other techniques

In [ ]:
import pandas as pd
titanic_df = pd.read_csv('/content/Titanic-Dataset.csv')

In [ ]:
titanic_df

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [ ]:
# invvesting the dataset to ascertain the number of missing entries
titanic_df.isnull().sum()

In [ ]:
# getting the sum total of all the missing entries in the titanic data sample

titanic_df.isnull().sum().sum()

**OTHER WAYS OF HANDING MISSING ENTRIES IN A DATASET USING PANDAS METHODS**

1. Interpolation

2. Exterpolation

3. Computed statistical values

4. Backward (bfill)

5. Forward (ffill)

In [ ]:
# computing the average age score
mean_age = titanic_df['Age'].mean().round(0)
mean_age

In [ ]:
# using the computed mean score for the age variable to fillup the missing entries within the Age feature
titanic_df['Age'].fillna(value=mean_age, inplace=True)

In [ ]:
# inpecting the Age to know if the missing values hand been handled successfully
titanic_df['Age'].isnull().sum()
titanic_df

In [ ]:
titanic_df['Cabin'].ffill(inplace=True)

In [ ]:
titanic_df

In [ ]:
titanic_df["Cabin"].bfill(inplace=True)
titanic_df

In [ ]:
titanic_df.isnull().sum()

In [ ]:
titanic_df["Embarked"].bfill(inplace=True)
titanic_df

**

DATA TRANSFORMATION

In [ ]:
# Renaming dataset variable names using pandas Rename method()

titanic_df.rename(columns={'SibSp':'siblings/Spouse', 'Parch':'Paresnts/Child'})

In [ ]:
# converting features from one datatype to another

titanic_df['Age'] =titanic_df['Age'].astype(int)

In [ ]:
titanic_df

In [ ]:
mapping_gender= {'male': 0, 'female': 1}

In [ ]:
import pandas as pd
titanic_df = pd.read_csv('/content/Titanic-Dataset.csv')
mapping_gender= {'male': 0, 'female': 1}
titanic_df['Sex'] = titanic_df['Sex'].map(mapping_gender)
titanic_df

In [ ]:
titanic_df['Embarked'].unique()

In [ ]:
titanic_df['Embarked'].replace('nan', '0')

In [ ]:
# using the replace method to replace values in a pandas dataframe

titanic_df['Embarked'].replace(['S', 'C', 'Q'], ['Southhampton', 'Cherbourg', 'Queenstown'], inplace=True)

In [ ]:
titanic_df

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

New week

**Aggregation and Grouping**

In [ ]:
# df.unique (): This returns the unique figures in a dataset as an array
# 1 didnt survive, 0 survived from our dataset
# df nunique (): This returns the number of unique figures in a dataset as an array
import pandas as pd
df = pd.read_csv('/content/Titanic-Dataset.csv')
df['Age'].unique()
df['Survived'].unique()

array([0, 1])

In [ ]:
df["Sex"].nunique()

2

In [ ]:
# df.value_counts()this counts the total number each of the unique values
df['Survived'].value_counts()

Survived
0    549
1    342
Name: count, dtype: int64

In [ ]:
# In the Titanic dataset, Pclass refers to the passenger class, a categorical variable where 1 is 1st class, 2 is 2nd class, and 3 is 3rd class.
df['Pclass'].value_counts()

Pclass
3    491
1    216
2    184
Name: count, dtype: int64

In [ ]:
# df.groupby() – Group data and apply aggregation.
df.groupby(['Survived', 'Sex'])['PassengerId'].count()
#using passengerid beacause it doesnt have a missing value hencecount will do its work properly

Survived  Sex
0         female     81
          male      468
1         female    233
          male      109
Name: PassengerId, dtype: int64

In [ ]:
df.groupby(['Survived']).count()

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
Survived,,,,,,,,,,,
0,549,549,549,549,424,549,549,549,549,68,549
1,342,342,342,342,290,342,342,342,342,136,340

In [ ]:
df.groupby(['Survived', 'Sex', 'Pclass'])['PassengerId'].count()
#first line, 3 people are in first class, are female and didn't survive

Survived  Sex     Pclass
0         female  1           3
                  2           6
                  3          72
          male    1          77
                  2          91
                  3         300
1         female  1          91
                  2          70
                  3          72
          male    1          45
                  2          17
                  3          47
Name: PassengerId, dtype: int64

In [ ]:
# trying to find out the most average number of siblings and spouses using group by
df.groupby(["Pclass", "Sex"])["SibSp"].mean()

Pclass  Sex
1       female    0.553191
        male      0.311475
2       female    0.486842
        male      0.342593
3       female    0.895833
        male      0.498559
Name: SibSp, dtype: float64

In [ ]:
df.groupby(['Survived','Age'])['PassengerId'].count()
#first line gets number of people(80) that are 1 year old that didnt survive

Survived  Age
0         1.0     2
          2.0     7
          3.0     1
          4.0     3
          6.0     1
                 ..
1         58.0    3
          60.0    2
          62.0    2
          63.0    2
          80.0    1
Name: PassengerId, Length: 142, dtype: int64

In [ ]:
# other programming languages &(and) |(or)
# getting a dataframe of prople between the ages of 18 and 45
adults_df = df[(df['Age'] >= 18) | (df['Age'] <= 45)]
adults_df.head()
# | gives a true when either of the conditions are true while & gives a true only when both conditions are true but in this case it yields same result

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [ ]:
# getting a dataframe of people that survived or they were women
survived_or_women_df = df[(df['Survived'] == 1) | (df['Sex'] == 'female')]
survived_or_women_df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
8,9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.0,0,2,347742,11.1333,NaN,S
9,10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.0,1,0,237736,30.0708,NaN,C

In [ ]:
adults_df.query("Age >= 45")
# people aged 45

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
62,63,0,1,"Harris, Mr. Henry Birkhardt",male,45.0,1,0,36973,83.4750,C83,S
129,130,0,3,"Ekstrom, Mr. Johan",male,45.0,0,0,347061,6.9750,NaN,S
167,168,0,3,"Skoog, Mrs. William (Anna Bernhardina Karlsson)",female,45.0,1,4,347088,27.9000,NaN,S
187,188,1,1,"Romaine, Mr. Charles Hallace (""Mr C Rolmane"")",male,45.0,0,0,111428,26.5500,NaN,S
276,277,0,3,"Lindblom, Miss. Augusta Charlotta",female,45.0,0,0,347073,7.7500,NaN,S
338,339,1,3,"Dahl, Mr. Karl Edwart",male,45.0,0,0,7598,8.0500,NaN,S
339,340,0,1,"Blackwell, Mr. Stephen Weart",male,45.0,0,0,113784,35.5000,T,S
362,363,0,3,"Barbara, Mrs. (Catherine David)",female,45.0,0,1,2691,14.4542,NaN,C
440,441,1,2,"Hart, Mrs. Benjamin (Esther Ada Bloomfield)",female,45.0,1,1,F.C.C. 13529,26.2500,NaN,S
536,537,0,1,"Butt, Major. Archibald Willingham",male,45.0,0,0,113050,26.5500,B38,S
706,707,1,2,"Kelly, Mrs. Florence ""Fannie""",female,45.0,0,0,223596,13.5000,NaN,S
856,857,1,1,"Wick, Mrs. George Dennick (Mary Hitchcock)",female,45.0,1,1,36928,164.8667,NaN,S

In [ ]:
#for query you can use the normal and but in goruping above, it doesnt work that way.
adults_df = df.query("Survived == 1 or Sex == 'Female'")
adults_df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
8,9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.0,0,2,347742,11.1333,NaN,S
9,10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.0,1,0,237736,30.0708,NaN,C

In [ ]:
#a query for people that have sibling or spouse and are in third class
has_sbsp_3rdclass = df.query("SibSp > 0 and Pclass == 3")
has_sbsp_3rdclass.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.250,NaN,S
7,8,0,3,"Palsson, Master. Gosta Leonard",male,2.0,3,1,349909,21.075,NaN,S
10,11,1,3,"Sandstrom, Miss. Marguerite Rut",female,4.0,1,1,PP 9549,16.700,G6,S
13,14,0,3,"Andersson, Mr. Anders Johan",male,39.0,1,5,347082,31.275,NaN,S
16,17,0,3,"Rice, Master. Eugene",male,2.0,4,1,382652,29.125,NaN,Q

Assignment

1 Group by region and party name and find out the number of votes.

2 How many parties are there in each region in the UK? what are they

3 Filter by Green party and female candidate

In [ ]:
import pandas as pd
election_df = pd.read_csv('/content/HoC-GE2024-results-by-candidate.csv')
election_df.head()

,ONS ID,ONS region ID,Constituency name,County name,Region name,Country name,Constituency type,Party name,Party abbreviation,Electoral Commission party ID,...,Candidate first name,Candidate surname,Candidate gender,Sitting MP,Former MP,Member MNIS ID,Votes,Share,Change,DC Person ID
0,W07000081,W92000004,Aberafan Maesteg,NaN,Wales,Wales,County,Heritage Party,HPUK,PP12550,...,Rhiannon,Morrissey,Female,No,No,NaN,183,0.005118,NaN,117009
1,W07000081,W92000004,Aberafan Maesteg,NaN,Wales,Wales,County,Independent,Ind,NaN,...,Captain,Beany,Male,No,No,NaN,618,0.017284,NaN,20
2,W07000081,W92000004,Aberafan Maesteg,NaN,Wales,Wales,County,Liberal Democrat,LD,PP90,...,Justin,Griffiths,Male,No,No,NaN,916,0.025619,-0.011412,89373
3,W07000081,W92000004,Aberafan Maesteg,NaN,Wales,Wales,County,Green,Green,PP63,...,Nigel,Hill,Male,No,No,NaN,1094,0.030597,0.014817,92890
4,W07000081,W92000004,Aberafan Maesteg,NaN,Wales,Wales,County,Conservative,Con,PP52,...,Abigail,Mainon,Female,No,No,NaN,2903,0.081191,-0.145088,72976

In [ ]:
election_df.groupby(['ONS region ID', 'Party name'])['Votes'].count()

ONS region ID  Party name
E12000001      Alliance for Democracy and Freedom         1
               Communist Party of Britain                 1
               Conservative                              27
               Green                                     27
               Heritage Party                             2
                                                         ..
W92000004      Trade Unionist and Socialist Coalition     2
               True & Fair Party                          1
               UK Independence Party                      1
               Women's Equality Party                     2
               Workers Party of Britain                   4
Name: Votes, Length: 297, dtype: int64

In [ ]:
import pandas as pd
election_df = pd.read_csv('/content/HoC-GE2024-results-by-candidate.csv')

In [ ]:
election_df['Party name'].unique()

array(['Heritage Party', 'Independent', 'Liberal Democrat', 'Green',
       'Conservative', 'Plaid Cymru', 'Reform UK', 'Labour',
       'Trade Unionist and Socialist Coalition', 'Scottish Family Party',
       'Alba Party', 'Scottish Green Party', 'Scottish National Party',
       'British Unionist Party B.U.P.', 'Hampshire Independents',
       'Workers Party of Britain', 'Sovereignty',
       'Social Democratic Party', 'Ashfield Independents', 'Consensus',
       'Climate Party', 'Socialist Labour Party',
       'Christian Peoples Alliance Party', 'English Democrats',
       'The Yorkshire Party', 'Party of Women',
       'British Democratic Party', 'Independence for Scotland Party',
       'Labour and Co-operative', 'Rejoin EU',
       'Social Democratic and Labour Party', 'Ulster Unionist Party',
       'Traditional Unionist Voice', 'Alliance',
       'Democratic Unionist Party', 'People Before Profit Alliance',
       'Sinn Fein', 'Aontú', 'Animal Welfare Party',
       'Alliance for Democracy and Freedom', 'UK Independence Party',
       'Independent Network', 'Freedom Alliance', 'Common Good Party',
       'Transform Party', 'Monster Raving Loony Party',
       'Communist Party of Britain', 'Blue Revolution',
       'Abolish the Welsh Assembly Party', 'English Constitution Party',
       "Women's Equality Party", 'Liberal', 'Rebooting Democracy',
       'Propel', 'Chesterfield And North Derbyshire Independents (CANDI)',
       'Democracy for Chorley', 'Speaker',
       'The Socialist Party of Great Britain',
       'Scottish Libertarian Party',
       'Putting Crewe First, Independent Residents Group',
       'Taking The Initiative Party', 'True & Fair Party',
       'The North East Party', 'Shared Ground',
       'Cross-Community Labour Alternative', 'Fairer Voting Party',
       'Save Us Now', 'Scottish Socialist Party',
       "Christian Party, Proclaiming Christ's Lordship",
       'Linconshire Independents', 'The Peace Party',
       'Workers Revolutionary Party', 'Socialist Equality Party',
       'Kingston Independent Residents Group',
       'Alliance for Green Socialism', 'One Leicester',
       'Liverpool Community Independents', 'National Health Action Party',
       'Communist Future', 'Communist League Election Campaign',
       'Volt United Kingdom', 'South Devon Alliance', 'Libertarian Party',
       'Independent Oxford Alliance', 'The Yoruba Party in the UK',
       'Portsmouth Independent Party', 'Count Binface Party',
       'The Mitre TW9', 'Social Justice party', 'Swale Independents',
       'UK Voice', 'Confelicity', 'Psychedelic Movement',
       'The Common People', 'Stockport Fights Austerity No To Cuts',
       'Independents for Direct Democracy',
       'New Open Non-Political Organised Leadership',
       'Independent Alliance (Kent)', 'Newham Independents Party'],
      dtype=object)

In [ ]:
election_df['Party name'].nunique()

99

In [ ]:
greenFemale_df = election_df[(election_df['Party name'] == 'Green') & (election_df['Candidate gender'] == 'Female')]
greenFemale_df.head()

,ONS ID,ONS region ID,Constituency name,County name,Region name,Country name,Constituency type,Party name,Party abbreviation,Electoral Commission party ID,...,Candidate first name,Candidate surname,Candidate gender,Sitting MP,Former MP,Member MNIS ID,Votes,Share,Change,DC Person ID
43,E14001064,E12000005,Aldridge-Brownhills,NaN,West Midlands,England,Borough,Green,Green,PP63,...,Clare,Nash,Female,No,No,NaN,1746,0.042677,0.024228,82753
58,E14001065,E12000002,Altrincham and Sale West,NaN,North West,England,Borough,Green,Green,PP63,...,Geraldine,Coggins,Female,No,No,NaN,3699,0.071892,0.043296,4639
108,E14001069,E12000008,Ashford,NaN,South East,England,County,Green,Green,PP63,...,Mandy,Rossi,Female,No,No,NaN,4355,0.092709,0.046722,5151
120,E14001071,E12000008,Aylesbury,NaN,South East,England,County,Green,Green,PP63,...,Julie,Atkins,Female,No,No,NaN,2590,0.051862,0.022478,35205
142,W07000083,W92000004,Bangor Aberconwy,NaN,Wales,Wales,County,Green,Green,PP63,...,Petra,Haig,Female,No,No,NaN,1361,0.032669,NaN,6949

In [ ]:
#checking for missing values in ONS ID, there's none
election_df.isna().sum()

ONS ID                                      0
ONS region ID                               8
Constituency name                           0
County name                              4515
Region name                                 0
Country name                                0
Constituency type                           0
Party name                                  0
Party abbreviation                          0
Electoral Commission party ID             460
MNIS party ID                               0
Electoral Commission adjunct party ID    4466
Candidate first name                        0
Candidate surname                           0
Candidate gender                            0
Sitting MP                                  0
Former MP                                   0
Member MNIS ID                           3630
Votes                                       0
Share                                       0
Change                                   1506
DC Person ID                                0
dtype: int64

In [ ]:
#his work

In [ ]:
df.groupby(["Region name", "Party name"])["Votes"].sum()

In [ ]:
df.groupby(["Region name"])["Party name"].unique()

In [ ]:
df[(df["Candidate gender"] == "Female") & (df["Party name"] == "Green")]["Candidate surname"].unique()

Filtering using other conditionals

Sorting using isin

In [ ]:
#getting those that have a "Member MNIS ID"
# election_df
# Member MNIS ID, his work
election_df[election_df["Member MNIS ID"].notnull()]

,ONS ID,ONS region ID,Constituency name,County name,Region name,Country name,Constituency type,Party name,Party abbreviation,Electoral Commission party ID,...,Candidate first name,Candidate surname,Candidate gender,Sitting MP,Former MP,Member MNIS ID,Votes,Share,Change,DC Person ID
7,W07000081,W92000004,Aberafan Maesteg,NaN,Wales,Wales,County,Labour,Lab,PP53,...,Stephen,Kinnock,Male,Yes,Yes,4359.0,17838,0.498895,-0.030313,4252
16,S14000060,S92000003,Aberdeen North,NaN,Scotland,Scotland,Burgh,Scottish National Party,SNP,PP102,...,Kirsty,Blackman,Female,Yes,Yes,4357.0,14533,0.345243,-0.183733,6042
24,S14000061,S92000003,Aberdeen South,NaN,Scotland,Scotland,Burgh,Scottish National Party,SNP,PP102,...,Stephen,Flynn,Male,Yes,Yes,4735.0,15213,0.328255,-0.124336,21095
28,S14000062,S92000003,Aberdeenshire North and Moray East,NaN,Scotland,Scotland,County,Conservative,Con,PP52,...,Douglas,Ross,Male,Yes,Yes,4627.0,12513,0.327668,-0.155520,2756
29,S14000062,S92000003,Aberdeenshire North and Moray East,NaN,Scotland,Scotland,County,Scottish National Party,SNP,PP102,...,Seamus,Logan,Male,No,No,5280.0,13455,0.352336,-0.078577,85513
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4495,W07000112,W92000004,Ynys Môn,NaN,Wales,Wales,County,Conservative,Con,PP52,...,Virginia,Crosbie,Female,Yes,Yes,4859.0,9953,0.305045,-0.049491,34587
4496,W07000112,W92000004,Ynys Môn,NaN,Wales,Wales,County,Plaid Cymru,PC,PP77,...,Llinos,Medi,Female,No,No,5085.0,10590,0.324568,0.039549,16912
4505,E14001604,E12000003,York Central,NaN,Yorkshire and The Humber,England,Borough,Labour and Co-operative,Lab,PP53,...,Rachael,Maskell,Female,Yes,Yes,4471.0,24537,0.566374,0.002324,6364
4513,E14001605,E12000003,York Outer,NaN,Yorkshire and The Humber,England,County,Conservative,Con,PP52,...,Julian,Sturdy,Male,Yes,Yes,4079.0,13770,0.269440,-0.226871,4113
4514,E14001605,E12000003,York Outer,NaN,Yorkshire and The Humber,England,County,Labour,Lab,PP53,...,Luke,Charters,Male,No,No,5199.0,23161,0.453195,0.153816,3440

In [ ]:
import pandas as pd
election_df = pd.read_csv('/content/HoC-GE2024-results-by-candidate.csv')
#my work
election_df.groupby(['Member MNIS ID'])['Candidate first name'].sum()

Member MNIS ID
39.0         John
40.0      Bernard
54.0       Julian
55.0      Desmond
76.0       Damian
           ...
5358.0       John
5359.0       Neil
5360.0      David
5361.0      James
5362.0      Angus
Name: Candidate first name, Length: 885, dtype: object

In [ ]:
#getting those that come from the country wales
election_df[election_df["Country name"] == "Wales"] #his work
election_df[election_df["Country name"].isin(["Wales"])] #his alternative work
# election_df.groupby(['Member MNIS ID'])['Candidate first name'].sum()
wales_df = election_df[(election_df['Country name'] == 'Wales')]
wales_df.head()

,ONS ID,ONS region ID,Constituency name,County name,Region name,Country name,Constituency type,Party name,Party abbreviation,Electoral Commission party ID,...,Candidate first name,Candidate surname,Candidate gender,Sitting MP,Former MP,Member MNIS ID,Votes,Share,Change,DC Person ID
0,W07000081,W92000004,Aberafan Maesteg,NaN,Wales,Wales,County,Heritage Party,HPUK,PP12550,...,Rhiannon,Morrissey,Female,No,No,NaN,183,0.005118,NaN,117009
1,W07000081,W92000004,Aberafan Maesteg,NaN,Wales,Wales,County,Independent,Ind,NaN,...,Captain,Beany,Male,No,No,NaN,618,0.017284,NaN,20
2,W07000081,W92000004,Aberafan Maesteg,NaN,Wales,Wales,County,Liberal Democrat,LD,PP90,...,Justin,Griffiths,Male,No,No,NaN,916,0.025619,-0.011412,89373
3,W07000081,W92000004,Aberafan Maesteg,NaN,Wales,Wales,County,Green,Green,PP63,...,Nigel,Hill,Male,No,No,NaN,1094,0.030597,0.014817,92890
4,W07000081,W92000004,Aberafan Maesteg,NaN,Wales,Wales,County,Conservative,Con,PP52,...,Abigail,Mainon,Female,No,No,NaN,2903,0.081191,-0.145088,72976

In [ ]:
#getting how many constituencies are not counties
election_df[election_df["Constituency type"] != "County"] #his work

# my work
# nocounties_df = election_df[(election_df['Constituency name'] == '1') & (election_df['County name'] == 'NaN')]
# nocounties_df.head()
# Constituency name
# County name

,ONS ID,ONS region ID,Constituency name,County name,Region name,Country name,Constituency type,Party name,Party abbreviation,Electoral Commission party ID,...,Candidate first name,Candidate surname,Candidate gender,Sitting MP,Former MP,Member MNIS ID,Votes,Share,Change,DC Person ID
8,S14000060,S92000003,Aberdeen North,NaN,Scotland,Scotland,Burgh,Trade Unionist and Socialist Coalition,TUSC,PP804,...,Lucas,Grant,Male,No,No,NaN,214,0.005084,NaN,74393
9,S14000060,S92000003,Aberdeen North,NaN,Scotland,Scotland,Burgh,Scottish Family Party,SFP,PP6380,...,Dawn,Smith,Female,No,No,NaN,352,0.008362,NaN,85468
10,S14000060,S92000003,Aberdeen North,NaN,Scotland,Scotland,Burgh,Alba Party,Alba,PP12700,...,Charlie,Abel,Male,No,No,NaN,703,0.016700,NaN,85442
11,S14000060,S92000003,Aberdeen North,NaN,Scotland,Scotland,Burgh,Scottish Green Party,Green,PP130,...,Esme,Houston,Female,No,No,NaN,1275,0.030289,0.018080,85482
12,S14000060,S92000003,Aberdeen North,NaN,Scotland,Scotland,Burgh,Liberal Democrat,LD,PP90,...,Desmond,Bouse,Male,No,No,NaN,2583,0.061361,-0.015942,74392
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4501,E14001604,E12000003,York Central,NaN,Yorkshire and The Humber,England,Borough,Liberal Democrat,LD,PP90,...,Alan,Page,Male,No,No,NaN,3051,0.070424,-0.007796,116606
4502,E14001604,E12000003,York Central,NaN,Yorkshire and The Humber,England,Borough,Reform UK,RUK,PP7931,...,Cliff,Bond,Male,No,No,NaN,4721,0.108972,0.084702,117798
4503,E14001604,E12000003,York Central,NaN,Yorkshire and The Humber,England,Borough,Green,Green,PP63,...,Lars,Kramm,Male,No,No,NaN,5185,0.119682,0.077808,50749
4504,E14001604,E12000003,York Central,NaN,Yorkshire and The Humber,England,Borough,Conservative,Con,PP52,...,Richard,Hudson,Male,No,No,NaN,5383,0.124253,-0.153541,30507
4505,E14001604,E12000003,York Central,NaN,Yorkshire and The Humber,England,Borough,Labour and Co-operative,Lab,PP53,...,Rachael,Maskell,Female,Yes,Yes,4471.0,24537,0.566374,0.002324,6364

In [ ]:
election_df.isna().sum()

ONS ID                                      0
ONS region ID                               8
Constituency name                           0
County name                              4515
Region name                                 0
Country name                                0
Constituency type                           0
Party name                                  0
Party abbreviation                          0
Electoral Commission party ID             460
MNIS party ID                               0
Electoral Commission adjunct party ID    4466
Candidate first name                        0
Candidate surname                           0
Candidate gender                            0
Sitting MP                                  0
Former MP                                   0
Member MNIS ID                           3630
Votes                                       0
Share                                       0
Change                                   1506
DC Person ID                                0
dtype: int64

In [ ]:
 election_df.duplicated().any()
# drop = election_df.drop(columns=['Change'], inplace=True)
# drop.head()

np.False_

In [ ]:
election_df.drop(columns=["Change"], inplace=True)

In [ ]:
election_df[election_df["Region name"].isin(["London", "Scotland"])]
#isin selects rows in a column which contains the values in the list.

,ONS ID,ONS region ID,Constituency name,County name,Region name,Country name,Constituency type,Party name,Electoral Commission party ID,MNIS party ID,...,Party abbreviation_Transform,Party abbreviation_UKIP,Party abbreviation_UKV,Party abbreviation_UUP,Party abbreviation_VUK,Party abbreviation_WEP,Party abbreviation_WPB,Party abbreviation_WRP,Party abbreviation_YPUK,Party abbreviation_Yrks
8,S14000060,S92000003,Aberdeen North,NaN,Scotland,Scotland,Burgh,88,PP804,157,...,False,False,False,False,False,False,False,False,False,False
9,S14000060,S92000003,Aberdeen North,NaN,Scotland,Scotland,Burgh,63,PP6380,1016,...,False,False,False,False,False,False,False,False,False,False
10,S14000060,S92000003,Aberdeen North,NaN,Scotland,Scotland,Burgh,1,PP12700,1034,...,False,False,False,False,False,False,False,False,False,False
11,S14000060,S92000003,Aberdeen North,NaN,Scotland,Scotland,Burgh,64,PP130,1057,...,False,False,False,False,False,False,False,False,False,False
12,S14000060,S92000003,Aberdeen North,NaN,Scotland,Scotland,Burgh,43,PP90,17,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4363,E14001586,E12000007,Wimbledon,NaN,London,England,Borough,30,PP63,44,...,False,False,False,False,False,False,False,False,False,False
4364,E14001586,E12000007,Wimbledon,NaN,London,England,Borough,60,PP7931,1036,...,False,False,False,False,False,False,False,False,False,False
4365,E14001586,E12000007,Wimbledon,NaN,London,England,Borough,40,PP53,15,...,False,False,False,False,False,False,False,False,False,False
4366,E14001586,E12000007,Wimbledon,NaN,London,England,Borough,21,PP52,4,...,False,False,False,False,False,False,False,False,False,False
4367,E14001586,E12000007,Wimbledon,NaN,London,England,Borough,43,PP90,17,...,False,False,False,False,False,False,False,False,False,False

In [ ]:
df[df["County name"].isna()]

In [ ]:
df[df.duplicated()]

In [ ]:
len(df)

In [ ]:
df["County name"].isna().sum()

In [ ]:
df[df["Change"].notnull()]

In [ ]:
df[df["Votes"].between(15000, 20000)]

.isna()  

.isnull()

.between()

.notnull()

.duplicated()
  
.isin()

Assignment

Using the titanic Dataset:

In the Sex column, replace female with 0 and male with 1.
Rename the Pclass column, to `PassengerClass`.
Find the people that embarked from SouthHampton that paid more than 20 for their Fare.
Is the ticket useful?

In [ ]:
import pandas as pd
titanic_df = pd.read_csv('/content/Titanic-Dataset.csv')
mapping_gender= {'male': 1, 'female': 0}
titanic_df['Sex'] = titanic_df['Sex'].map(mapping_gender)
titanic_df

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",1,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",0,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",0,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",0,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",1,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",1,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",0,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",0,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",1,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",1,32.0,0,0,370376,7.7500,NaN,Q

In [ ]:
#note: you rename colums or variables, you replace values
titanic_df.rename(columns={'Pclass':'PassengerClass'})

,PassengerId,Survived,PassengerClass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",1,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",0,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",0,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",0,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",1,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",1,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",0,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",0,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",1,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",1,32.0,0,0,370376,7.7500,NaN,Q

In [ ]:
S20_df = titanic_df[(titanic_df['Embarked'] == 'S') & (titanic_df['Fare'] > 20)]
S20_df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",0,35.0,1,0,113803,53.1000,C123,S
6,7,0,1,"McCarthy, Mr. Timothy J",1,54.0,0,0,17463,51.8625,E46,S
7,8,0,3,"Palsson, Master. Gosta Leonard",1,2.0,3,1,349909,21.0750,NaN,S
11,12,1,1,"Bonnell, Miss. Elizabeth",0,58.0,0,0,113783,26.5500,C103,S
13,14,0,3,"Andersson, Mr. Anders Johan",1,39.0,1,5,347082,31.2750,NaN,S

In [ ]:
# Ticket isn't useful for finding the data of people that died/survived, because adding to its messiness(the prescence a lot of unique values), I find it redundant beacuse a ticket is meant to contain the passenger class and also the tfare.

In [ ]:
#value counts shows all values and their number of occurences

DATA ENCODING IN DATA SCIENECE

Data encoding is the process of converting caterical string values into numbers.

For encoding cateriacal features in data science, there are standard and acceptable techniques that are often employed:

1. Map()

2. LabelEncoder()

3. oneHotEncoder()

4. get_dummies()

2. Applying LabelEncoder()

In [ ]:
from sklearn.preprocessing import LabelEncoder

In [ ]:
encoder = LabelEncoder()

In [ ]:
titanic_df['Embarked'] = encoder.fit_transform(titanic_df['Embarked'])

# fit transform is a function in label encoder

In [ ]:
titanic_df

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",1,22.0,1,0,A/5 21171,7.2500,NaN,2
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",0,38.0,1,0,PC 17599,71.2833,C85,0
2,3,1,3,"Heikkinen, Miss. Laina",0,26.0,0,0,STON/O2. 3101282,7.9250,NaN,2
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",0,35.0,1,0,113803,53.1000,C123,2
4,5,0,3,"Allen, Mr. William Henry",1,35.0,0,0,373450,8.0500,NaN,2
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",1,27.0,0,0,211536,13.0000,NaN,2
887,888,1,1,"Graham, Miss. Margaret Edith",0,19.0,0,0,112053,30.0000,B42,2
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",0,NaN,1,2,W./C. 6607,23.4500,NaN,2
889,890,1,1,"Behr, Mr. Karl Howell",1,26.0,0,0,111369,30.0000,C148,0
890,891,0,3,"Dooley, Mr. Patrick",1,32.0,0,0,370376,7.7500,NaN,1

In [ ]:
import pandas as pd
election_df = pd.read_csv('/content/HoC-GE2024-results-by-candidate.csv')

election_df['Party name'] = encoder.fit_transform(election_df['Party name'])
display(election_df)

,ONS ID,ONS region ID,Constituency name,County name,Region name,Country name,Constituency type,Party name,Party abbreviation,Electoral Commission party ID,...,Candidate first name,Candidate surname,Candidate gender,Sitting MP,Former MP,Member MNIS ID,Votes,Share,Change,DC Person ID
0,W07000081,W92000004,Aberafan Maesteg,NaN,Wales,Wales,County,32,HPUK,PP12550,...,Rhiannon,Morrissey,Female,No,No,NaN,183,0.005118,NaN,117009
1,W07000081,W92000004,Aberafan Maesteg,NaN,Wales,Wales,County,34,Ind,NaN,...,Captain,Beany,Male,No,No,NaN,618,0.017284,NaN,20
2,W07000081,W92000004,Aberafan Maesteg,NaN,Wales,Wales,County,43,LD,PP90,...,Justin,Griffiths,Male,No,No,NaN,916,0.025619,-0.011412,89373
3,W07000081,W92000004,Aberafan Maesteg,NaN,Wales,Wales,County,30,Green,PP63,...,Nigel,Hill,Male,No,No,NaN,1094,0.030597,0.014817,92890
4,W07000081,W92000004,Aberafan Maesteg,NaN,Wales,Wales,County,21,Con,PP52,...,Abigail,Mainon,Female,No,No,NaN,2903,0.081191,-0.145088,72976
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4510,E14001605,E12000003,York Outer,NaN,Yorkshire and The Humber,England,County,30,Green,PP63,...,Michael,Kearney,Male,No,No,NaN,2212,0.043283,0.043118,101413
4511,E14001605,E12000003,York Outer,NaN,Yorkshire and The Humber,England,County,43,LD,PP90,...,Andrew,Hollyer,Male,No,No,NaN,5496,0.107541,-0.079162,34649
4512,E14001605,E12000003,York Outer,NaN,Yorkshire and The Humber,England,County,60,RUK,PP7931,...,John,Crispin-Bailey,Male,No,No,NaN,5912,0.115681,0.110877,117283
4513,E14001605,E12000003,York Outer,NaN,Yorkshire and The Humber,England,County,21,Con,PP52,...,Julian,Sturdy,Male,Yes,Yes,4079.0,13770,0.269440,-0.226871,4113
4514,E14001605,E12000003,York Outer,NaN,Yorkshire and The Humber,England,County,40,Lab,PP53,...,Luke,Charters,Male,No,No,5199.0,23161,0.453195,0.153816,3440

3. oneHotEncoder()

In [ ]:
# Reshape the 'Party name' column for OneHotEncoder
party_name_reshaped = election_df['Party name'].values.reshape(-1, 1)

# Initialize OneHotEncoder
onehot_encoder = OneHotEncoder(sparse_output=False)

# Fit and transform the 'Party name' column
party_name_encoded = onehot_encoder.fit_transform(party_name_reshaped)

# Create a DataFrame from the encoded data
party_name_encoded_df = pd.DataFrame(party_name_encoded, columns=onehot_encoder.get_feature_names_out(['Party name']))

# Concatenate the new columns to the original DataFrame
election_df = pd.concat([election_df, party_name_encoded_df], axis=1)

# Display the updated DataFrame
display(election_df)

In [ ]:
#using a simple example

import pandas as pd
from sklearn.preprocessing import OneHotEncoder

# Create a simple DataFrame with colors
color_data = {'Color': ['Red', 'Blue', 'Green', 'Red', 'Blue']}
color_df = pd.DataFrame(color_data)

# Initialize OneHotEncoder
# sparse_output=False ensures the output is a dense NumPy array
onehot_encoder_color = OneHotEncoder(sparse_output=False)

# Fit and transform the 'Color' column
color_encoded = onehot_encoder_color.fit_transform(color_df[['Color']])

# Create a DataFrame from the encoded data with appropriate column names
color_encoded_df = pd.DataFrame(color_encoded, columns=onehot_encoder_color.get_feature_names_out(['Color']))

# Concatenate the new columns to the original DataFrame
color_df_encoded = pd.concat([color_df, color_encoded_df], axis=1)

# Display the result
display(color_df_encoded)

4. get_dummies()

In [ ]:
#encoding party abbreviation using get dummies
election_df = pd.get_dummies(election_df, columns=['Party abbreviation'])
election_df.head()

,ONS ID,ONS region ID,Constituency name,County name,Region name,Country name,Constituency type,Party name,Electoral Commission party ID,MNIS party ID,...,Party abbreviation_Transform,Party abbreviation_UKIP,Party abbreviation_UKV,Party abbreviation_UUP,Party abbreviation_VUK,Party abbreviation_WEP,Party abbreviation_WPB,Party abbreviation_WRP,Party abbreviation_YPUK,Party abbreviation_Yrks
0,W07000081,W92000004,Aberafan Maesteg,NaN,Wales,Wales,County,32,PP12550,1037,...,False,False,False,False,False,False,False,False,False,False
1,W07000081,W92000004,Aberafan Maesteg,NaN,Wales,Wales,County,34,NaN,8,...,False,False,False,False,False,False,False,False,False,False
2,W07000081,W92000004,Aberafan Maesteg,NaN,Wales,Wales,County,43,PP90,17,...,False,False,False,False,False,False,False,False,False,False
3,W07000081,W92000004,Aberafan Maesteg,NaN,Wales,Wales,County,30,PP63,44,...,False,False,False,False,False,False,False,False,False,False
4,W07000081,W92000004,Aberafan Maesteg,NaN,Wales,Wales,County,21,PP52,4,...,False,False,False,False,False,False,False,False,False,False

**INDEPTH ANALYSIS USING PANDAS**

1. What is the most occured Party Name in the election dataset
2. Filter out all the information that relates to Conservative Party
3. For the canidates that voted conservative party, what distinct contries where they from?
4. Group each constituency under the right country

In [ ]:
election_df['Party name'] = encoder.fit_transform(election_df['Party name'])
display(election_df)

In [ ]:
election_df['Party name'].value_counts()

In [ ]:
df_conservative_party = election_df[election_df['Party name'] =='Conservative']
df_conservative_party

In [ ]:
df_conservative_party['Country name'].value_counts()

In [ ]:
election_df.groupby(['Constituency name', 'Country name'])['Votes'].count()

Constituency name                   Country name
Aberafan Maesteg                    Wales           8
Aberdeen North                      Scotland        9
Aberdeen South                      Scotland        8
Aberdeenshire North and Moray East  Scotland        5
Airdrie and Shotts                  Scotland        7
                                                   ..
YeoYeovil                           England         1
Yeovil                              England         5
Ynys Môn                            Wales           8
York Central                        England         9
York Outer                          England         9
Name: Votes, Length: 651, dtype: int64

In [ ]:
election_df.groupby(['Country name', 'Constituency name'])['Votes'].count()
#or
election_df.groupby('Country name')['Constituency name'].value_counts()

Country name  Constituency name
England       Aldershot                   6
              Aldridge-Brownhills         5
              Altrincham and Sale West    6
              Amber Valley                5
              Arundel and South Downs     6
                                         ..
Wales         Swansea West                7
              Torfaen                     8
              Vale of Glamorgan           8
              Wrexham                     7
              Ynys Môn                    8
Name: Votes, Length: 651, dtype: int64

In [ ]:
election_df["Votes"].isna().sum()

np.int64(0)

In [ ]:
titanic_df['Age_group'] = pd.cut(titanic_df['Age'], bins=3, labels=['Young', 'Adult', 'Old'])

In [ ]:
titanic_df

In the titanic dataset come up with 20 questions and answer using codes.

In [ ]:
import pandas as pd
election_df = pd.read_csv('/content/HoC-GE2024-results-by-candidate.csv')

#Solutions
# 1. How many rows and columns are in the dataset?
election_df.shape

# 2. Display the first 5 rows of the dataset.
election_df.head()

# 3. Which party received the highest total votes?
election_df.groupby("Party name")["Votes"].sum().sort_values(ascending=False).head(1)

# 4. What are the top 5 parties by total votes?
election_df.groupby("Party name")["Votes"].sum().sort_values(ascending=False).head(5)


# 5. What are the constituencies in the dataset?
election_df["Constituency name"].unique()

# 6. Who are the candidates that contested in the election?
election_df["Candidate first name"].unique()

# Which candidate received the highest number of votes?
# election_df.loc[election_df["Votes"].idxmax()]
# Which candidate received the lowest number of votes?
# election_df.loc[election_df["Votes"].idxmin()]

# 7. How many constituencies are there in total?
election_df["Constituency name"].nunique()

# 8. How many candidates contested in the election?
election_df["Candidate first name"].nunique()

# 9. Which constituency had the highest number of total votes?
election_df.groupby("Constituency name")["Votes"].sum().sort_values(ascending=False).head(1)

# 10. Which constituency had the lowest number of total votes?

election_df.groupby("Constituency name")["Votes"].sum().sort_values().head(1)

# 11. Average number of votes per candidate by party.
election_df.groupby("Party name")["Votes"].mean().sort_values(ascending=False)

# 12. How many candidates were elected per party?
election_df[election_df["Elected"] == True]["Party name"].value_counts()

# 13. Which party contested in the highest number of constituencies?
election_df.groupby("Party name")["Constituency name"].nunique().sort_values(ascending=False).head(1)

# 14. How many incumbents were re-elected?
election_df[(election_df["Is incumbent"] == True) & (election_df["Elected"] == True)]


# 15. What was the mininum number of votes?
election_df.loc[election_df["Votes"].idxmin()]

# 16. What was the maximum number of votes?
election_df.loc[election_df["Votes"].idxmax()]

# 14. How many incumbents were not re-elected?
election_df[(election_df["Is incumbent"] == True) & (election_df["Elected"] != True)]

# 18. Total number of Constituencies in the election.
election_df["Constituency name"].sum()

# 19. Total number of parties in the election.
election_df["Party name"].sum()

# 20. Total number of votes cast in the election.
election_df["Votes"].sum()

**TODAY'S CLASS OUTLINE**

1. Performing statistics with pandas

2. Pandas Pivot table

3. Pandas cheatsheet

4. Converting from one file extension to another

In [3]:
# Converting from one file extension to another

election_df.to_excel("election_df.xlsx")
# to csv
# to json just like to excel
# election_df.to_sql("election_df", con=engine)

In [ ]:
election_df.sample(100)

In [ ]:
titanic_df

In [ ]:
sales_data = { "product": ['iPhone12', 'iPhone12 pro', 'iPhone13', 'Samsung Gallary Note 20', 'Techno Pop 16'],
              "Unit price": [450000, 550000, 600000, 400000, 120000],
               'Quantity': [100, 200, 300, 45, 300],
               "Cost Price":[500000, 600000, 650000, 500000, 150000]




}

In [ ]:
sales_df = pd.DataFrame(sales_data)

In [ ]:
# what is the profit derived from the sales of each phone?

sales_df['Profit'] = sales_df['Cost Price'] - sales_df['Unit price']

In [ ]:
sales_df

In [ ]:
sales_df['Total Cost of product'] = sales_df['Unit price'] * sales_df['Quantity']
sales_df

In [ ]:
sales_df['Total profit'] = sales_df['Profit'] * sales_df['Quantity']

In [ ]:
sales_df

In [ ]:
print("The total profit after the sales of all phones is: ", sales_df['Total profit'].sum())

In [ ]:
# # election_df.to_sql("election_df", con=engine)
# to csv
# to json just like to excel

In [ ]:
# Pandas Pivot table

# using pandas pivot table to transform the sales dataframe

sales_df.pivot(index='Unit price', columns='Quantity', values='Total Cost of product')

In [ ]:
# Git is a free, open-source, and distributed version control system that tracks changes to files over time, allowing developers to manage software projects, collaborate with others, and easily revert to previous versions

# Version control is the practice of tracking and managing changes to files, particularly source code, over time using version control systems (VCS).

#Github is a remote storage, for access to people you wish would view.